
<div class="modal fade" id="modal-account">
  <div class="modal-dialog mini new-coupon" >

    <div class="modal-content">
      <div class="modal-body" >
        <!-- SEGUNDA COLUMNA -->
        <div class="col-md-12 col-sm-12 col-xs-12 display-content">
          <div class="container-display-content" style="padding-bottom: 15px;">
            <div ng-include src="'dashboard-commerce/views/tab-coupons/popups/coupon-view.html'"></div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
