<div class="most-used-home-container slider" ng-class="{'option-selected': $ctrl.isOptionSelected()}">
  
  <div class="most-used text-center" ng-click="$ctrl.selectCategory('electricidad-cambio-bateria-automotor')" >
    <img src="assets/images/home/baterias.svg" alt="compra y carga de baterías" title="compra y carga de baterías" class="center-block">
    <h4>Compra y carga <br> de baterías</h4>
  </div>
  
  <div class="most-used text-center" ng-click="$ctrl.selectCategory('lubricentro-cambio-aceite-filtro')" >
    <img src="assets/images/home/aceite.svg" alt="cambio de aceite y filtro" title="cambio de aceite y filtro" class="center-block">
    <h4>Cambio de <br> aceite y filtro</h4>
  </div>

  <div class="most-used text-center" ng-click="$ctrl.selectCategory('neumaticos-auto-camioneta')" >
    <img src="assets/images/home/neumaticos.svg" alt="alineación y balanceo" title="alineación y balanceo" class="center-block">
    <h4>Alineación y <br> balanceo</h4>
  </div>

  <div class="most-used text-center" ng-click="$ctrl.selectCategory('taller-chequeo-general')" >
    <img src="assets/images/home/escaneo.svg" alt="escaneo vehicular integral" title="escaneo vehicular integral" class="center-block">
    <h4>Escaneo Vehicular <br> Integral</h4>
  </div>

  <div class="most-used text-center" ng-click="$ctrl.selectCategory('polarizado-cristales-luneta')" >
    <img src="assets/images/home/polarizado.svg" alt="polarizado de cristales" title="polarizado de cristales" class="center-block">
    <h4>Polarizado de <br> cristales</h4>
  </div>

  <div class="most-used text-center" ng-click="$ctrl.selectCategory('frenos-pastillas-discos-cambio')">
    <img src="assets/images/home/frenos.svg" alt="pastillas de freno" title="pastillas de freno" class="center-block">
    <h4>Pastillas de <br> frenos</h4>
  </div>

</div>