<h2 class="only-desktop" ><span>Comercios&nbsp;</span> <span class="bold">recomendados</span></h2> 
<!-- style="min-width: 450px;" -->
<div class="brands slider">
  <div class="brands-center">
    <img ng-src="assets/images/home/brands/daytona.png" alt="Daytona" title="Daytona" class="center-block">
  </div>
  <div class="brands-center">
    <img ng-src="assets/images/home/brands/rosmi.png" alt="Neumaticos Rosmi" title="Neumaticos Rosmi" class="center-block">
  </div>
  <div class="brands-center">
    <img ng-src="assets/images/home/brands/neumater.png" alt="Neumater" title="Neumater" class="center-block">
  </div>
  <div class="brands-center">
      <img ng-src="assets/images/home/brands/calzetta.png" alt="Neumaticos Calzetta" title="Neumaticos Calzetta"  class="center-block small calzetta">
  </div>
  <!--<div class="brands-center">
    <img ng-src="assets/images/home/brands/grupobravo.png" alt="Grupo Bravo" title="Grupo Bravo"  class="center-block small bravo">
  </div>-->
</div>