<user-inactive-banner></user-inactive-banner>
<header-notification></header-notification>

<div class="container-fluid back-plans main" id="voucher">
  <div class="voucher-container">
    <div class="row text-center">
		<div class="col-md-12 col-sm-12 col-xs-12 margin-top-80 voucher-header">
        <div class="margin-right-auto relative"><img src="assets/images/icons/autominuto_logo_invert.png"></div>
        <div class="voucher-detail">
	    	<h4>N° DE VOUCHER</h4>
	    	<h1 class="voucher-number">XXXXXXXXXXXXXXXX</h1>
    	</div>
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12 margin-top-30 voucher-body">
        <div class="row margin-bottom-30">
        	<div class="col-md-12 col-sm-12 col-xs-12 text-left margin-top-50 margin-bottom-30">
        		<h1>Taller Mecánico Belgrano Frenos GiordaniMax SRL</h1>
        	</div>
        	<div class="col-md-4 col-sm-6 col-xs-12 text-left">
        		<h5>TELÉFONO</h5>
        		<h3>011 - 437 90 90</h3>
        	</div>
        	<div class="col-md-8 col-sm-6 col-xs-12 text-left">
        		<h5>HORARIOS</h5>
        		<h3>9:00 a 13:00 - 16:00 a 20:00 HS</h3>
        	</div>
        	<div class="col-md-12 col-sm-12 col-xs-12 text-left">
        		<h5>DIRECCIÓN</h5>
        		<h3>Av. Cabildo 2040. Buenos Aires.</h3>
        	</div>
        </div>        
      </div>
      <div class="col-md-12 col-sm-12 col-xs-12 ">
    	<div class="row">
    		<div class="voucher-map">
    			MAPA
    			<div class="qr-map"></div>
    		</div>
        	
        	
        </div>    
	  </div>

	  <div class="col-md-12 col-sm-12 col-xs-12 margin-top-30 margin-bottom-30 voucher-body">
        <div class="row margin-bottom-30">
        	<div class="col-md-6 col-sm-6 col-xs-12 text-left">
        		<h5>TITULAR</h5>
        		<h3>Juan Falavella</h3>
        	</div>
        	<div class="col-md-6 col-sm-12 col-xs-12 text-left">
        		<h5>VEHÍCULO</h5>
        		<h3>Ford Fiesta Ambiente</h3>
        	</div>
        	<div class="col-md-6 col-sm-12 col-xs-12 text-left">
        		<h5>PROBLEMA</h5>
        		<h3>Tren Delantero</h3>
        	</div>
        	<div class="col-md-6 col-sm-12 col-xs-12 text-left">
        		<h5>HORARIO</h5>
        		<h3>25 Enero. 15:00 a 17:30 hs</h3>
        	</div>
        	<div class="col-md-6 col-sm-12 col-xs-12 text-left">
        		<h5>PRECIO</h5>
        		<h3>$4500</h3>
        	</div>
        </div>        
      </div>


      <div class="col-md-12 col-sm-12 col-xs-12 margin-bottom-80 voucher-footer">
        <div class="row">
        	<div class="col-md-6 col-sm-6 col-xs-12 text-left">
        		<img src="assets/images/icons/autominuto_logo_gray.png" class="logo-footer">
        		<h4>Todo lo que necesitás para tu auto <br /> a un click de distancia</h4>
        	</div>
        	<div class="col-md-12 col-sm-12 col-xs-12 text-left">
        		<h5>©2020 Autominuto. CABA Argentina.</h5>
        	</div>
        </div>        
      </div>



    </div>
  </div>
</div>

<cookies-banner></cookies-banner>