@import "../../shared/styles/colors";

.covid-banner-container {
  background-color: $color-gray-back;
  border-radius: 25px;
}

.banner-info-container {
  display: flex;
  align-items: center;
  padding: 25px 0;
  color: #6A6A6A;
  font-size: 16px;
  line-height: normal;
  font-weight: 500;
  
  @media (max-width: 767px) {
    flex-direction: column;
    line-height: 16px;
    font-size: 13px;
    padding: 15px 18px;
  }

  .covid-image-title-container {
    @media (max-width: 767px) {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
    }
    .covid-image {
      width: 105px;
      height: 103px;
      margin: 0 43px 0 40px;
      @media (max-width: 767px) {
        width: 33px;
        height: 33px;
        margin: 0 8px 0 0;
      }
    }
    .title-mobile {
      display: none;
      @media (max-width: 767px) {
        display: inherit;
      }
    }
  }


  .info-container {
    padding-right: 36px;
    max-width: 885px;
    @media (max-width: 767px) {
      padding-right: 0;
      max-width: inherit;
      margin-bottom: 10px;
    }
    .first-info-container {
      margin-bottom: 20px;
      .first-info-title {
        @media (max-width: 767px) {
          display: none;
        }
      }
    }

    .tips-info-container {
      line-height: 25px;
      @media (max-width: 767px) {
        margin-left: 0;
        line-height: 16px;
      }
      .first-tip {
        @media (max-width: 767px) {
          margin-bottom: 20px;
        }
      }
    }
  }

  .view-more-container {
    margin-right: 49px;
    margin-left: auto;
    white-space: nowrap;
    @media (max-width: 767px) {
      margin: 25px auto;
    }
    .view-more-btn {
      border-radius: 20px;
      padding: 17px 35px;
      font-family: Montserrat, sans-serif;
      font-size: 14px;
      font-weight: 700;
      font-stretch: normal;
      font-style: normal;
      line-height: 1.14;
      letter-spacing: 1.25px;
      background-color: #A7A7A7;
      color: $color-gray-back;
      @media (max-width: 767px) {
        font-size: 12px;
        padding: 13px 30px;
      }
      &:hover, &:focus {
        text-decoration: none;
      }
    }
  }
}

