/* Nav Tabs Index + Pasos */
.automin-isologo{
  max-width: 200px;
  cursor: pointer;
}

//TODO: fix properly
.navbar-header{
  padding: 0;
}

.inicio{
  .header-new{
    display: flex;
    align-items: center;
    .automin-isologo{
      width: 200px;
    }
    li{
      margin-left: 15px;
      margin-right: 0px;
      font-size: 14px !important;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: center;
      &.item-logout{
        width: 125px;
      }
      a{
        display: flex;
        padding: 0 !important;
        align-items: center;
        margin: 0 !important;
        &.potencia{
          padding: 5px 10px !important;
          color: #fff;
          height: auto;
          background-color: transparent;
          border-color: #fff;
          &:hover{
            color: #fff;
          }
        }
      }
    }
  }

  .header-default-user {
    display: flex;
    align-items: center;
    img {
      border-radius: 50%;
      height: 35px;
      width: 35px;
    }
    div {
      margin-left: 15px;
      max-width: 300px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  }

  @media (max-width: 1024px){
    .automin-isologo{
      max-width: 100% !important;
      padding-right: 10px;
    }
  }

  @media (max-width: 1279px){
    .header-new{
      display: block;
      .navbar-header{
        float: initial;
        .toggle-nav{
          display: block !important;
          margin-left: auto;
        }
      }      
      ul{
        margin: 0;
        float: none !important;
        li{
          margin: 0;
          float: initial;
          &.item-logout{
            margin: 0 auto;
          }
        }        
      }
    }
    .header-default-user{
      div{
        max-width: 100%;
      }
    }
  }
}

@media (min-width: 769px) {
    #header-navbar-collapse,
    #bs-example-navbar-collapse-2 {
        display: block;

        > div {
            margin-top: 15px;
        }
    }

    .cotiza-section {
      margin-top: 80px;
    }
}

@media (min-width: 1px) and (max-width: 1024px){
  header {
    div:nth-child(3){
      margin-top: 3px;
    }
  }
}
