$control-filter-light-blue:   #0089ff;
$control-filter-light-white:  #fff;
$control-filter-light-turquoise:  #2eafd6;
$control-filter-orange-yellow:  #ffb40b;
$control-filter-black:  #7d7d7d;
$control-color-facebook: #3b5998;
$control-color-gmail   : #c71610;
$control-color-twitter : #1dcaff;
$control-color-hotmail : #2272b9;

$brand-color-mixto: #E77B1E;
$brand-color-representante-oficial: #ffb030;
$brand-color-agente-oficial: #5c9bbf;
$brand-color-regular: #fff;