<div class="group-comments">
  <div class="comment">
    <div class="perfil"><img ng-src="{{ $ctrl.data.userFrom.image || 'assets/images/icons/perfil-photo2.png' }}"></div>
    <div class="group">
      <div class="name"> {{ $ctrl.data.userFrom.username }}</div>
      <div class="text"> {{ $ctrl.data.message }} </div>
      <div class="options-content">
        <div class="date" ng-show="$ctrl.data.differenceDays > 0"> Hace {{ $ctrl.data.differenceDays }} días </div>
        <div class="date" ng-show="$ctrl.data.differenceDays === 0"> Hoy </div>
        <span class="divider" ng-hide="$ctrl.data.answer !== null"><p><b>-</b></p></span>
      
      </div>
    </div>
  </div>
  <div class="reply-content" ng-show="$ctrl.visibleCommentEntry || $ctrl.data.answer !== null">
    <div class="reply-icon"><img src="assets/images/icons/reply.jpg"></div>

    <div ng-hide="$ctrl.data.answer === null" style="display: flex;">
      <div class="answer-logo"><img style="width: 48px; height: 48px;" ng-src="{{ $ctrl.getCommerce().logo || 'assets/images/icons/logo-answer.png' }}"></div>
      <div class="group">
        <div class="name"> {{ $ctrl.getCommerce().name }} </div>
        <div class="text">{{ $ctrl.data.answer.message }}</div>
        <div class="options-content">
          <div class="date" ng-show="$ctrl.data.answer.createdOn > 0">Hace {{ $ctrl.data.answer.createdOn }} días</div>
          <div class="date" ng-show="$ctrl.data.answer.createdOn === 0">Hoy</div>
        </div>
      </div>
    </div>
  </div>

</div>
