<user-inactive-banner></user-inactive-banner>
<header-notification></header-notification>

<div class="container-fluid recuperar">
  <div class="container">
    <span class="margined">
      <div class="group recover-container">
        <div>
          <h2 class="margin-bottom-30">¿No recordás tu contraseña?</h2>
          <p> Ingresá el correo electrónico con el cual te registraste, así podremos enviarte un enlace de restablecimiento.</p>
          <p>Asegurate de revisar los filtros de correo basura o spam en la bandeja de entrada de tu correo electrónico</p>
        </div>
        <div class="recover-form">
          <form name="$ctrl.recoverForm" novalidate>
            <div
              ng-class="{'has-error errorMessage': $ctrl.displayError('email')}">
              <h4 class="text-grey margin-top-20">Email</h4>
              <input
                type="email"
                name="email"
                class="form-control"
                placeholder="Ingresá tu correo electrónico"
                ng-model="$ctrl.email"
                ng-required='true'
                ng-class="{'margin-bottom-10' : $ctrl.displayError('email')}">
              <span ng-messages="$ctrl.recoverForm.email.$error" ng-if="$ctrl.displayError('email')" role="alert">
                <span ng-message="required" class="error">Email es obligatorio</span>
                <span ng-message="email">La dirección de correo no es válida</span>
              </span>
            </div>
            <div class="margin-top-20">
              <button type="submit" ng-click="$ctrl.recover()" ng-disabled="$ctrl.recoverForm.$invalid" class="btn btn-primary">
                RECUPERAR
              </button>
              <h5 style="font-size: 14px; margin: 20px 0;">¿Aún tenés problemas para ingresar? Ponete en contacto con <a href="mailto:info@autominuto.com">Soporte</a>.</h5>
            </div>
            <small><a ui-sref="login">Volver al inicio de sesión</a></small>
          </form>
        </div>
      </div>
    </span>
  </div>
</div>
<cookies-banner></cookies-banner>