<header-notification></header-notification>

<div class="container-fluid recuperar">
  <div class="container">
    <span class="margined">
      <div class="group">
        <div>
          <h2 class="margin-bottom-30">Restablecé tu contraseña</h2>
          <p>Ingresá tu nueva contraseña</p>
        </div>
        <form name="$ctrl.updateForm" class="col-md-12" novalidate>

          <!-- Password -->
          <div class="margin-top-20"
            ng-class="{'has-error errorMessage': $ctrl.displayError('password')}">
            <h4 class="text-grey">Contraseña</h4>
            <input
              type="password"
              name="password"
              class="form-control"
              ng-model="$ctrl.password"
              ng-required="true"
              placeholder="Nueva contraseña"
              ng-class="{'margin-bottom-10': $ctrl.displayError('password')}"
              ng-pattern="$ctrl.validateForm.password.pattern"
              ng-minlength="$ctrl.validateForm.password.min"
              ng-maxlength="$ctrl.validateForm.password.max">
            <span ng-messages="$ctrl.updateForm.password.$error" ng-if="$ctrl.displayError('password')" role="alert">
              <span ng-message="required" class="error">Campo obligatorio</span>
              <span ng-message="pattern" class="error">Solo letras y números</span>
              <span ng-message="minlength" class="error">Debe contar con al menos {{ $ctrl.validateForm.password.min }} caracteres</span>
              <span ng-message="maxlength" class="error">No puede ser menor a {{ $ctrl.validateForm.password.max }} caracteres</span>
            </span>
          </div>

          <!-- Confirm password -->
          <div class="margin-top-20"
            ng-class="{'has-error errorMessage': $ctrl.displayError('confirmPassword')}">
            <h4 class="text-grey">Confirmar contraseña</h4>
            <input
              type="password"
              name="confirmPassword"
              class="form-control"
              nx-equal-ex="$ctrl.password"
              placeholder="Confirmar nueva contraseña"
              ng-model="$ctrl.confirmPassword"
              ng-class="{'margin-bottom-10': $ctrl.displayError('confirmPassword')}"
              ng-required="true"
              ng-maxlength="$ctrl.validateForm.password.max"
              required>
            <span ng-messages="$ctrl.updateForm.confirmPassword.$error" ng-class="errorMessage" ng-if="$ctrl.displayError('confirmPassword')" role="alert">
               <span ng-message="required" class="error errorMessage">Campo obligatorio</span>
               <span ng-message="nxEqualEx" class="error">La contraseña no coincide</span>
            </span>
          </div>

          <!-- Submit -->
          <div class="margin-top-40 margin-bottom-30">
            <button type="submit" ng-click="$ctrl.update()" ng-disabled="$ctrl.updateForm.$invalid" class="btn btn-primary">
              GUARDAR CAMBIOS
            </button>
          </div>

          <small><a ui-sref="login">Volver al inicio de sesión</a></small>
        </form>
      </div>
    </span>
  </div>
</div>