<div class="covid-banner-container">
  <div class="banner-info-container" ng-init="attentionTitle='Atención - A raíz del COVID-19:'">
    <div class="covid-image-title-container">
      <img class="covid-image" src="assets/images/covid-19.svg" alt="covid-19" />
      <span class="title-mobile bold">{{attentionTitle}}</span>
    </div>
    <div class="info-container">
      <div class="first-info-container">
        <p><span class="first-info-title bold">{{attentionTitle}} </span>Si bien se podrán realizar contrataciones de servicios con normalidad, los talleres mecánicos, lubricentros,
        gomerías y demas comerciantes automotores solo prestarán servicios a vehículos.</p>
      </div>
      <div class="tips-info-container">
        <div class="first-tip">
          <span class="bold">Sea paciente</span> ya que se requieren permisos especiales para la cirulación
        </div>  
        <div>
          <span class="bold">Dale marcha a tu auto</span> cada 7 o 10 días
        </div>
      </div>
    </div>
    <div class="view-more-container">
      <a class="view-more-btn" href="https://blog.autominuto.com/ayuda-a-talleres-mecanicos-y-gomerias-autominuto-no-cobra-comisiones-durante-la-cuarentena/" target="_blank">LEER MÁS</a>
    </div>
  </div>
</div>
