<!-- FOOTER -->
  <div class="footer">
    <div class="container">
    	<div class="row margin-50">

    		<!-- LOGO -->
    		<div class="col-md-3 col-xs-12 footer_link footer_link_main">
                <img class="automin-isologo" src="assets/images/isologo.svg" ui-sref="home">
                <div class="redes-main">
                    <a href="https://www.facebook.com/autominuto" target="_blank" rel="nofollow"><button type="button" class="btn btn-default navbar-btn redes">
                    <i class="fa fa-facebook" aria-hidden="true"></i>
                    </button></a>

                    <a href="https://twitter.com/autominuto" target="_blank" rel="nofollow"><button type="button" class="btn btn-default navbar-btn redes">
                    <i class="fa fa-twitter" aria-hidden="true"></i>
                    </button></a>

                    <a href="http://instagram.com/autominuto" target="_blank" rel="nofollow"><button type="button" class="btn btn-default navbar-btn redes">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                    </button></a>

                    <a href="https://www.pinterest.com/autominuto" target="_blank" rel="nofollow"><button type="button" class="btn btn-default navbar-btn redes">
                    <i class="fa fa-pinterest" aria-hidden="true"></i>
                    </button></a>
                </div>
    		</div>

    		<div class="col-md-2 col-xs-12 footer_link">
                <h5>Podemos ayudarte</h5>
   	            <a href="/board/user/quotes/requested" title="Mi cuenta">Mi Cuenta</a>
                <a href="/cotizar/servicio" title="Cotizaciones">Comparar Cotizaciones</a>
                <a href="/busqueda/scanneo-vehicular-computarizado" title="Scanneo computarizado">Oportunidades</a>
                <a href="/busqueda/scanneo-vehicular-computarizado" title="Scanneo computarizado">Mi Barrio</a>
           </div>

    		<div class="col-md-3 col-xs-12 footer_link">
                <h5>Gana dinero con nosotros</h5>
		        <a href="/vendemas" title="Vende mas" target="_blank">Vende en Autominuto</a>
                <a href="/vendemas" title="Digitaliza tu comercio" target="_blank">Vende tu servicios en Autominuto</a>
                <a href="/alta-comercio" title="Alta de comercio" target="_blank">Crea tu comercio automotor</a>
         	</div>

    		<div class="col-md-3 col-xs-12 footer_link">
                <h5>Preguntas Frecuentes</h5>
                <a href="https://blog.autominuto.com/ayuda-a-talleres-mecanicos-y-gomerias-autominuto-no-cobra-comisiones-durante-la-cuarentena/" 
                title="Covid-19" target="_blank">Autominuto y COVID-19</a>
                <a href="/guias" title="guias y tutoriales">Guias y tutoriales</a>
                <a href="https://www.flaticon.com/authors/eucalyp" title="Flaticon" target="_blank">Iconos Eucalyp</a>
                <a href="mailto:info@autominuto.com">Escribinos</a>
                <a href="https://blog.autominuto.com/" title="Blog autominuto" target="_blank"><img src="assets/images/blog_autominuto.png" width="180px"></a> 
    		</div>

            <!-- Copyright -->
            <div class="col-md-12 col-xs-12 text-center copyright">
              <p><strong>Copiright @ Autominuto 2020</strong> | <a href="/seguridad" title="Seguridad" target="_blank">Seguridad</a> | <a href="/terminos-condiciones" title="Términos y Condiciones" target="_blank">Términos y Condiciones</a> | <a href="/terminos-condiciones-profesionales" title="Términos y Condiciones profesionales" target="_blank">Términos y Condiciones para profesionales</a> | <a href="/politicas-privacidad" title="Políticas de privacidad" target="_blank">Políticas de privacidad</a></p>

              <a href="https://play.google.com/store/apps/details?id=io.ionic.starter.autominuto" title="Autominuto app"><img src="assets/images/google_play.png" width="150px" height="50px"/></a>
              <a href="http://qr.afip.gob.ar/?qr=VMt0z4Ql4TGUt8mZMzlMGA" target="_F960AFIPInfo"><img src="assets/images/dataweb.jpg" width="45px" height="52px"/></a>
              <img src="assets/images/pdp.png" width="130px" height="60px"/>  
            </div>

    	</div>
    	<!--/row -->
    </div>
    <!-- /container -->  </div>
