<div class="modal fade">
  	<div class="modal-dialog" >
    	<div class="modal-content" style="background: white; color:#253a4c; text-align: center;">
	      	<div class="modal-header">
	      		<h4 class="modal-title">¿Estás seguro de eliminar lo siguiente?</h4>
	      	</div>

	      	<div class="modal-body">
	      		<p>{{textDeleteModal}}</p>
	      	</div>
	      	<div class="modal-footer margin-bottom-20" style="text-align: center;">
		        <button class="btn btn-primary button-modal" ng-click="delete()">
		          ACEPTAR
		        </button>
		        <button class="btn btn-primary button-modal" ng-click="close()">
		          CANCELAR
		        </button>
	      	</div>
  		</div>	
  		
	</div>
</div>