    <!-- DESCARGA HIDE 
  sacar class apagado para visualizarlo -->

    <div class="container-fluid descarga apagado">
      <div class="container margin-top-20">

        <div class="col-md-3 col-xs-12">
          <img src="assets/images/phone.png" class="phone-pasos">
        </div>
        <!-- /col-4 -->

        <div class="col-md-9 col-xs-12">

          <div class="col-md-10 col-md-offset-1 margin-25">

            <h2>DESCARGÁ AHORA AUTOMINUTO</h2>

            <div class="col-md-4 col-xs-12 margin-top-20" style="margin-right: -20px;">
              <img src="assets/images/app_store.png">
            </div>
            <!-- /col-4 -->

            <div class="col-md-4 col-xs-12 margin-top-20" style="margin-right: -20px;">
              <img src="assets/images/google_play.png">
            </div>
            <!-- /col-4 -->

            <div class="col-md-4 col-xs-12 margin-top-20" style="margin-bottom: 30px;">
              <img src="assets/images/tienda_windows.png">
            </div>
            <!-- /col-4 -->

          </div>



        </div>
        <!-- /col-8 -->


      </div>
    </div>
