<!-- PROMO HEADER -->
<nav class="navbar navbar-inverse margin-no" id="promoHeader" ng-if="false">
  <div class="container">

       <div class="col-sm-11 col-xsm-11">
        <div class="col-md-9 col-xs-11 col-sm-11 col-lg-11 margin-10">
          <p class="descuento">Obtené un 30% en tus primeras 3 contrataciones o compras:
            <strong> 10% 1er compra  +  10% 2da compra  +  10% 3ra compra</strong>
          </p>
        </div>
        <div class="col-md-2 col-xs-12 col-sm-12 col-lg-1 descuento-button">
          <a role="button" class="btn btn-default navbar-btn" ui-sref="register_driver">
            Obtener descuento
          </a>
        </div>
       </div>

       <div class="col-sm-1 col-md-1 col-xs-1 exit">
         <button type="button" class="btn pull-right" ng-click="appData.hideDiv('#promoHeader')" >
          <img src="assets/images/close.svg" width="20" style="padding-top: 8px;">
         </button>
       </div>

  </div>
</nav>

