<div class="modal fade" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog">
    <div class="modal-content" style="background: white; color:#253a4c">
      <div class="modal-body" style="display: block; overflow: hidden;">
        <div>
          <div class="validate-popup-container">
            <div class="close" ng-click="close()"><img src="assets/images/icons/close.png"></div>
            <span>
              <div class="text">
                <p><b>Felicitaciones!  acabás de VERIFICAR tu comercio y ya se encuentra online! </b>  <br> <br>
                Tan solo te queda hacer la <b>carga de productos o servicios</b> que ofreces para que puedas vender por la web sin hacer ningún esfuerzo 
                adicional y crear <b>cupones</b> de descuento para atraer nuevos clientes con ofertas y promociones!</p><br> <br><p>
                Seguinos en nuestras redes sociales si querés saber todo del mercado automotor, lanzamientos, novedades, industria, humor y mucho más!
                </p>
                
              </div>
              <div class="rss">
                <div class="rss-item">
                  <a href="https://blog.autominuto.com" target="_blank" rel="noopener noreferrer nofollow">
                  <img src="assets/images/icons/autominuto-blog.png"/>
                  </a>
                </div>
                <div class="rss-item">
                  <a href="https://www.facebook.com/autominuto" target="_blank" rel="noopener noreferrer nofollow">
                  <i style="color: #3b5998" class="fa fa-facebook-official" aria-hidden="true" aria-hidden="true"></i>
                  </a>
                </div>
                <div class="rss-item">
                  <a href="https://twitter.com/autominuto" target="_blank" rel="noopener noreferrer nofollow">
                  <i style="color: #00aced" class="fa fa-twitter" aria-hidden="true" aria-hidden="true"></i>
                  </a>
                </div>
                <div class="rss-item">
                  <a href="http://instagram.com/autominuto" target="_blank" rel="noopener noreferrer nofollow">
                  <i class="fa fa-instagram" aria-hidden="true" aria-hidden="true"></i>
                  </a>
                </div>
              </div>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
