<div class="modal fade" id="modal-recomendaciones">
  <div class="modal-dialog" >

    <div class="modal-content">
    	<span data-dismiss="modal" class="close-button" type="button">
			<i class="fa fa-times"></i>
		</span>	
      	<div class="padding-30">
	        <h3>
	        	<strong>En tu barrio ya te conocen, <br /> pero en internet aún no.</strong>
	        </h3>
	        <h4>
	        	Tus amigos, familiares y clientes <br /> te pueden ayudar a vender más.
	        </h4>
	        <div class="half-divisor-line"></div>
	        <p>
	        	las recomendaciones que recibas por redes sociales harán que tu comercio se vea más confiable. Accede a tu perfil y pedí que te recomienden (<strong>obtené un 15% de descuento en suscripción obteniendo 5 o más recomendaciones </strong>)
	        </p>
	        <div class="social-recomendaciones">
	        	<div class="color-facebook" ng-click="withFacebook()"><i class="fa fa-facebook-official" aria-hidden="true"></i><label>Desde Facebook</label></div>
	        	<div class="color-gmail" ng-click="withGmail()"><i class="fa fa-envelope" aria-hidden="true"></i><label>Desde Gmail</label></div>
	        	<div ng-if="false" class="color-twitter" ><i class="fa fa-twitter" aria-hidden="true"></i><label>Desde Twitter</label></div>
	        	<div ng-if="false" class="color-hotmail" ><i class="fa fa-windows" aria-hidden="true"></i><label>Desde Hotmail</label></div>
	        </div>
	    </div>
	    <img src="assets/images/img_pedir_recomendaciones.jpg">

    </div>
  </div>
</div>
