<div class="modal fade" id="popup-whoweare">
  <div class="modal-dialog" >

    <div class="modal-content">
    	<div class="image-box">
			<img src="assets/images/steps/bell.svg">
		</div>	
		<div class="text-box">
	        <h2>
	        	<strong>¡Bienvenido a Autominuto!</strong>
	        </h2>
	        <p>
	       	Somos una app q simplifica y resuelve necesidades de reparación, mantenimiento, estática y demás necesidades automotrices para q puedas elegir mejor.
			</br></br>
			<strong>Estás a punto de hacer un pedido de presupuesto sin cargo ni compromiso de compra.</strong></br></br> 
			Llena la información que te pedimos  continuación para recibir presupuestos cercanos y decidir mejor comparando mecánicos, repuestos y servicios cercanos a tu locación.
	        </p>
	    </div>
	    <div class="button-box">
	    	<button class="wwa-button" ng-click="close(true)">Continuar</button>
		</div>
    </div>
  </div>
</div>
