<div class="item-appointment col-xs-6">
  <div class="row sombra">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="stars">
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star"></i>
            <i class="fa fa-star no"></i>
            <i class="fa fa-star no"></i>
          </div>

          <h5 class="lubricentro">
            <img src="assets/images/icons/check.svg" width="17">
            LUBRICENTRO ECKO
          </h5>

          <h5 class="days">
            <strong>Lun / Vie / 8 a 15 hs.</strong>
          </h5>
        </div>

        <div class="col-lg-6 col-md-12 description">
          <p>Servicio de cambio de aceites y filtros correspondientes.</p>
        </div>

        <div class="col-lg-6 col-md-12 turno">
          <button type="button" class="btn btn-warning btn-sm">PEDIR TURNO</button>
        </div>

      </div>
    </div>
  </div>
</div>
