<div class="modal fade" id="busqueda_avanzada" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close center-block" ng-click="$ctrl.close()">
          <img src="assets/images/icons/close.svg" width="20">
        </button>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row text-center margin-bottom-30">
            <h1 class="search-title margin-bottom-30">¿QUÉ ESTÁS BUSCANDO?</h1>
            <h5>CONOCÉ TU PRÓXIMO TALLER O COMERCIO AUTOMOTOR DE CONFIANZA MÁS CERCANO</h5>
          </div>
          <div class="row search-bar-container search-bar upper">
            <div class="col-sm-4">
              <label>Estoy buscando</label>
              <category-unique-selector selected-category="$ctrl.basicSearch.category"
                                        placeholder="Ej: Reparación de neumáticos"
                                        class="cus-search" style="width: 50%"
                                        disabled="$ctrl.flags.showAdvancedSearch">
              </category-unique-selector>
            </div>
            <div class="col-sm-4">
              <label>para un</label>
              <div
                class="field"
                swavs-auto-complete
                name="brand"
                source="$ctrl.brands"
                selected-result="$ctrl.basicSearch.brand"
                placeholder="Ej: Volkswagen"
                element-selector="input-brand"
                required>
              </div>
            </div>
            <div class="col-sm-3">
              <label>cerca de</label>
              <div class="field">
                <input
                  name="address"
                  ng-model="$ctrl.rawAddress"
                  places-auto-complete
                  on-place-changed="$ctrl.placeChanged()"
                  component-restrictions="{country:'ar'}"
                  placeholder="Ej: Av. Corrientes 2300"
                  ng-readonly="$ctrl.basicSearch.useLocation" />
              </div>
            </div>
            <div class="col-sm-1 text-center">
              <div class="lupa-container">
                <div ng-class="{'tooltip-gen-auto': $ctrl.allowSearch()}">
                  <button type="button" class="btn btn-default lupa-open" ng-click="$ctrl.search();" ng-disabled="!$ctrl.allowSearch()">
                    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                  </button>
                  <tooltip-gen position="bottom" tittle-text="¿Estás listo?" text="¡Ya podés comenzar a buscar!" tooltip-size="small"></tooltip-gen>
                </div>
              </div>
            </div>
          </div>
          <div class="row search-bar-container">
            <!--<div class="col-md-4 col-sm-12 search-switch">-->
              <!--<div class="search-bar lower">-->
                <!--<label>Sólo repuestos originales</label>-->
                <!--<label class="switch">-->
                  <!--<input type="checkbox" ng-model="$ctrl.basicSearch.onlyOfficialSpareParts">-->
                  <!--<div class="pasador round"></div>-->
                <!--</label>-->
              <!--</div>-->
            <!--</div> &lt;!&ndash; /col-4&ndash;&gt;-->
            <div class="col-md-1">
            </div>
            <div class="col-md-5 col-sm-6 search-switch search-userLocation">
              <div class="search-bar lower">
                <label>Buscar cerca mío</label>
                <label class="switch">
                  <input type="checkbox" ng-change="$ctrl.useLocation()" ng-model="$ctrl.basicSearch.useLocation">
                  <div class="pasador round" ></div>
                </label>
              </div>
            </div> <!-- /col-4-->
            <div class="col-md-5 col-sm-6 search-switch search-officialCommerces">
              <div class="search-bar lower">
                <label>Sólo representantes oficiales</label>
                <label class="switch">
                  <input type="checkbox" ng-model="$ctrl.basicSearch.onlyOfficialCommerces">
                  <div class="pasador round"></div>
                </label>
              </div>
            </div> <!-- /col-4-->
            <div class="col-md-1">
            </div>
          </div> <!--/switchers -->
          <div class="clearfix"></div>
          <div class="col-md-12 margin-top-40 advanced-search">
            <p class="uper text-center margin-bottom-20">¿Sos un usuario experto? Usá nuestra búsqueda avanzada y encontrá lo que buscas</p>
            <button
              type="submit"
              class="btn btn-primary continuar center-block"
              ng-click="$ctrl.showAdvancedSearch()"
              ng-hide="$ctrl.flags.showAdvancedSearch">
              BÚSQUEDA AVANZADA
            </button>
            <button
              type="submit"
              class="btn btn-primary continuar center-block"
              ng-click="$ctrl.hideAdvancedSearch()"
              ng-show="$ctrl.flags.showAdvancedSearch">
              OCULTAR BÚSQUEDA AVANZADA
            </button>
          </div>
        </div><!-- /container fluid -->
      </div>
      <!-- Advanced search -->
      <div class="container busqueda-avanzada margin-top-20 margin-bottom-20" ng-show="$ctrl.flags.showAdvancedSearch">

        <span
          class="close-selector glyphicon glyphicon-remove"
          ng-click="$ctrl.showProductServiceSelector()"
          ng-hide="$ctrl.flags.showProductServiceSelector">
        </span>

        <!-- Selector productos/servicios -->
       <!-- <div ng-show="$ctrl.flags.showProductServiceSelector">
          <div class="row">
            <div class="col-md-3 selecciones-grey">
              <h3 class="text-grey text-center buscadores title-productos-servicios">Seleccioná la categoría que buscas</h3>
              <ul class="nav nav-pills nav-stacked">
                <li class="categoria">
                  <a ng-click="$ctrl.showServiceSelector()" class="text-right">
                    <img src="assets/images/icons/mechanic.svg" width="32" class="pull-left">SERVICIOS
                  <span class="pull-right margin-left"><i class="fa fa-plus" aria-hidden="true"></i></span>
                  </a>
                </li>
                <li class="categoria">
                  <a ng-click="$ctrl.showProductSelector()" class="text-right">
                    <img src="assets/images/icons/online-store.svg" width="32" class="pull-left">PRODUCTOS
                    <span class="pull-right margin-left"><i class="fa fa-plus" aria-hidden="true"></i></span>
                  </a>
                </li>
              </ul>
            </div>
            <div class="col-md-9 tab-content selecciones-white">
              <h3 class="margin-50 text-center text-light-grey productos-servicios-placeholder">Aquí se despliegan tus selecciones</h3>
            </div>
          </div>
        </div>
        --><!-- container -->

        <category-selector
          category-title="{{ $ctrl.categoryTitle }}"
          categories="$ctrl.advancedCategories"
          on-selection-changed="$ctrl.setAdvancedSearchParams(selection)">
        </category-selector>
      </div>
  </div>
</div>
