<div class="modal fade">
  <div class="center">

    <div class="popup-select-container pop-up sel-product" style="top: 100px;">
      <div>
        <img style="width: 160px;height: 160px;" src="assets/images/categories/neumatico-gomeria.svg">
        <div class="descript-text-container">
          <h3>Nuevo Producto</h3>
          <p>carga tus autopartes o productos/ ej: pastillas de freno, bateria, neumáticos, llantas, kit de embrague, amortiguadores, etc</p>
        </div>

        <button class="btn btn-primary" ng-click="addProductOrService(false)">Agregar producto</button>
      </div>
    </div>
    <div class="popup-select-container pop-up sel-product" style="top: 100px;">
      <div>
          <img style="width: 160px;height: 160px;" src="assets/images/categories/revision-mecanico-taller.svg">
        <div class="descript-text-container">
          <h3>Nuevo Servicio</h3>
          <p>carga tus servicios/ ej: cambio de correa de distribucion, cambio de pastillas de freno, carga de batería, etc</p>
        </div>

        <button class="btn btn-primary" ng-click="addProductOrService(true)">Agregar servicio</button>
      </div>
    </div>
  </div>
</div>
