doctype html
html
	head
		title= "Autominuto"
		meta(property="og:locale", content = "es_AR")
		meta(property="og:image", content= host + "/assets/images/autominuto_icon_s.png")
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="description", content="Autominuto")
		link(rel="icon", type="image/x-icon" href="assets/images/favicon.ico")
		link(href='https://fonts.googleapis.com/css?family=Raleway:600,700,400', rel='stylesheet', type='text/css')
		style(type='text/css').
			body{
				font-family: Raleway;
				max-width:700px;
				margin: 0 auto;
				padding: 15px;
			}
			p{
				color:#666;
			}
	body
		h2 Consejos de seguridad
		p En Autominuto queremos brindarte la mejor y más segura plataforma de contratación de servicios para tu vehículo. Por eso, armamos un listado de consejos para que tu experiencia sea,ante todo, segura:
		br
		h3 Intentá usar siempre nuestra plataforma para intercambiar información.
		p Mas que nada porque la hicimos especialmente pensando en vos y al operar desde ella podemos garantizarte un registro de todos los detalles del pedido de trabajo, oferta de servicios, compra de autopartes o adquisición de aditivos que hayas hecho. Y así, vamos a lograr despejar dudas, evitar malos entendidos tenido toda la información junta en un solo lugar seguro.
		p Asi, si llegara a surgir alguna diferencia entre vos y el comerciante automotor o mecánico, el equipo de Autominuto podrá intervenir basándose en la comunicación registrada.
		br
		h3 Si estableces un turno con el mecánico, siempre agendá las visitas usando nuestro sistema de agenda.
		p Autominuto ofrece un sistema para agendar turnos con un importante mecanismo de seguridad.
		ol
			li 
				p #[b Se genera un código especial ] que solo el vos y el profesional automotor elegido conocerán, este, servirá de identificación a la hora de la visita. De esta forma, el cliente estará seguro de recibir a la persona correcta.
			li 
				p #[b Podrás ver los datos del comercio elegido ] que vas a visitar, con el objetivo de incrementar tu seguridad, tranquilidad y confianza en la visita.
			li 
				p #[b Ambos, vos y el comerciante automotor recibirán recordatorios de la visita por e-mail ] Así el cada cual está seguro logrando, además, un mejor uso del tiempo.
		br
		h3 Si realizas una compra o contratación, recordá agendar y llevar contigo tu código de transacción digital generado por nuestro sistema.
		p Autominuto ofrece un sistema para generar códigos de seguridad únicos, estos son un importante mecanismo de seguridad q validan la conexión entre vos y el comerciante respecto de la operación realizada.
		ol
			li 
				p #[b Se genera un código especial ] que solo vos y el profesional automotor elegido conocerán, este servirá de identificación a la hora de la visita. De esta forma, el profesional estará seguro de recibir y atender a la persona correcta. Otorgándote a vos y solo a vos, la prestación de servicio pre-pactada o autoparte adquirida desde nuestra plataforma.
			li 
				p #[b Podrás ver los datos del comercio automotor elegido ] a visitar, con el objetivo de incrementar tu seguridad, tranquilidad y confianza de la visita.
			li 
				p #[b Ambos, vos y el comerciante automotor recibirán recordatorios de la visita por e-mail ] Así el cada cual está seguro logrando, además, un mejor uso del tiempo.
		br
		h3 Verificá qué datos de los profesionales están chequeados
		p En Autominuto tenemos un equipo especializado que se encarga de verificar todos los datos informados por los profesionales para que los clientes puedan sentirse seguros de la información que está expuesta en nuestro sitio.
		ul
			li 
				p #[b Si sos un cliente,] a la hora de decidirte por un profesional, no dejes de chequear su reputación y datos, si bien están todos verificados, también es importante saber quiénes están además certificados y quiénes no.
			li 
				p #[b Si sos un profesional,] y todavía no sos parte de autominuto, te recordamos que podés REGISTRATRE GRATIS a nuestro PLAN FREE, donde te recomendamos brindar el mayor número de datos posible ya que esto ayudará a mejorar tu credibilidad frente a los clientes. También te sugerimos suscribirte al PLAN FULL para poder ofrecer una mejor experiencia a tus clientes, pudiéndote exponer mejor respecto de tus competidores ofreciendo, más información, fotografías, cupones ilimitados, destacarte visualmente o aparecer mejor, acceder a más pedidos de presupuestos y vender más publicando con más claridad toda tu gama de autopartes, piezas, servicios o productos disponibles.
		br
		p ¿Tiene más preguntas? #[a(href="mailto:info@autominuto.com") Enviar una solicitud]