doctype html
html
	head
		title= "Autominuto"
		meta(property="og:locale", content = "es_AR")
		meta(property="og:title", content="Recomendame en autominuto.com")
		meta(property="og:image", content= host + "/assets/images/autominuto_icon_s.png")
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="description", content="Autominuto")
		link(rel="icon", type="image/x-icon" href="assets/images/favicon.ico")
		link(href='https://fonts.googleapis.com/css?family=Raleway:600,700,400', rel='stylesheet', type='text/css')
		style(type='text/css').
			.underlined {
				text-decoration: underline;
			}
			.color-red {
				color: red;
			}
			.color-initial {
				color: initial;
			}
			.tittle-list{
				font-weight: bold;
			}
			.tittle-list p{
				font-weight: normal;
			}
			a:link {
			    color: red;
			}

			/* visited link */
			a:visited {
			    color: green;
			}
			ol {
			  list-style-type: none;
			  counter-reset: item;
			  margin: 0;
			  padding: 0;
			}

			ol > li {
			  display: table;
			  counter-increment: item;
			  margin-bottom: 0.6em;
			}

			ol > li:before {
			  content: counters(item, ".") ".";
			  display: table-cell;
			  padding-right: 0.6em;
			}

			li ol > li {
			  margin: 0;
			}

			li ol > li:before {
			  content: counters(item, ".");
			}
			body{
				font-family: Raleway;
				max-width:700px;
				margin: 0 auto;
				padding: 15px;
			}
			p{
				color:#666;
			}
	body
		h2 TÉRMINOS Y CONDICIONES
		p Este contrato describe los términos y condiciones generales (los "Términos y Condiciones Generales") aplicables al uso de los servicios ofrecidos por NEARU S.A., CUIT 30-71530229-9, ("los Servicios") dentro de los sitios www.autominuto.com.ar y www.autominuto.com ("Autominuto" o el "sitio"). Cualquier persona (en adelante "Usuario" o en plural "Usuarios") que desee acceder y/o usar el sitio o los Servicios podrá hacerlo sujetándose a los Términos y Condiciones Generales respectivos, junto con todas las demás políticas y principios que rigen Autominuto y que son incorporados al presente por referencia.
		p 
			b CUALQUIER PERSONA QUE NO ACEPTE ESTOS TÉRMINOS Y CONDICIONES GENERALES, LOS CUALES TIENEN UN CARÁCTER OBLIGATORIO Y VINCULANTE, DEBERÁ ABSTENERSE DE UTILIZAR EL SITIO Y/O LOS SERVICIOS.
		p El Usuario debe leer, entender y aceptar todas las condiciones establecidas en los Términos y Condiciones Generales y en las Políticas de Privacidad, así como en los demás documentos incorporados a los mismos por referencia, previo a su registración como Usuario de Autominuto, optando de forma expresa por recibir los mismos y toda otra información por medios digitales.

		ol
			li.tittle-list #[h3 #[span.underlined Capacidad]]
				p Servicios. Los servicios ofrecidos desde Autominuto consisten, principalmente, en brindar de forma gratuita al Usuario el acceso a una plataforma electrónica a través de la cual podrá ingresar a una variada y exclusiva red de talleres mecánicos, autopartistas, lavautos y demás comercios automotores a lo largo de toda Argentina; de esta manera, los Usuarios que accedan podrán cotizar por todos aquellos servicios mecánicos, productos y aditivos relacionados que requieran para sus vehículos automotores. De igual forma, el Intermediario ofrece de forma periódica y por tiempo limitado, una diversa variedad de ofertas en los servicios y productos ofrecidos por los antes mencionados comercios, a las que podrán suscribirse a través de cualquiera de sus plataformas digitales (los “Servicios”). 
				p Los Servicios sólo están disponibles para personas que tengan capacidad legal para contratar. No podrán utilizar los servicios las personas que no tengan esa capacidad, los menores de 16 años, edades limitantes para conducir o Usuarios de Autominuto que hayan sido suspendidos temporalmente o inhabilitados definitivamente. Si estás registrando un Usuario como Empresa, debes tener capacidad para contratar a nombre de tal entidad y de obligar a la misma en los términos de este Acuerdo.
			li.tittle-list #[h3 #[span.underlined Registración]]
				p Para acceder a los Servicios, cada Usuario deberá registrarse previamente en la Página Web o app movil, entregando ciertos datos relativos a su persona y a los de su vehículo. El Usuario declara que todos los datos entregados con ocasión de su registro en la Página Web son verdaderos y que su falsedad facultará al Intermediario de poder retirarlo de su base de Usuarios registrados y bloquearlo de futuros registros sin que exista posibilidad de reclamo posterior. 
				p Al finalizar el proceso de registro, el Intermediario entregará un nombre y contraseña cada Usuario, elementos que constituyen la “Cuenta” y con los cuales éste último deberá identificarse cada vez que acceda a la Página Web. El Usuario será responsable en todo momento de la custodia de su contraseña, haciéndose responsable, en consecuencia, de cualquier daño y perjuicio que pudiera derivarse de su uso indebido, así como de la cesión, revelación o extravío.  
				p Una vez registrado, el Usuario podrá acceder a variados presupuestos emitidos por diferentes talleres mecánicos y comercios automotrices con el objeto de comprar una autoparte, un aditivo, contratar un servicio o reservar el día y la hora de atención presencial imprimiendo para tales efectos desde la Página Web el respectivo ticket de reserva. Sin perjuicio de lo anterior, el Usuario declara que entiende que tales presupuestos a los cuales tendrá acceso, tendrán un carácter meramente referencial, y que los mismos podrán ser objeto de alteraciones y/o modificaciones por parte del taller mecánico o comerciante automotor una vez revisado el vehículo el día de la inspección. Se hace presente que los presupuestos tendrán una validez máxima de 15 días corridos una vez generados, salvo acuerdo mutuo entre comerciante y usuario cliente. 
				p El Usuario comprende que los Servicios o productos ofrecidos desde Autominuto corresponden a una mera intermediación de datos entre el Usuario y el Taller Mecánico o comercio automotor (los “Contratantes”). Por lo tanto, el Intermediario sólo responderá ante cualquier conflicto o reclamo que se pudiera generar o derivar entre los Contratantes en los casos en que el Usuario opte por contratar y pagar los Servicios o productos a través de la plataforma digital.  
				p Es decir, aquellos conflictos o reclamos que se generen con ocasión de pagos, calidad del servicio, plazos de entrega o cualquier otro concepto que no hubieren sido adquiridos y pagados a través de la página web, serán de exclusiva responsabilidad de los comerciantes automotores adheridos al sitio.
				p Es obligatorio completar el formulario de registración en todos sus campos con datos válidos para poder utilizar los servicios que brinda Autominuto. El futuro Usuario deberá completarlo con su información personal de manera exacta, precisa y verdadera ("Datos Personales") y asume el compromiso de actualizar los Datos Personales conforme resulte necesario. El Usuario presta expresa conformidad con que Autominuto utilice diversos medios para identificar sus datos personales, asumiendo el Usuario la obligación de revisarlos y mantenerlos actualizados. Autominuto NO se responsabiliza por la certeza de los Datos Personales de los Usuarios. Los Usuarios garantizan y responden, en cualquier caso, por la veracidad, exactitud, vigencia y autenticidad de sus Datos Personales.
				p A su exclusiva discreción, Autominuto podrá requerir una registración adicional a los Usuarios que operen adicionalmente como autopartistas, talleres mecánicos, lavautos, centros de estética automotriz, concesionarias, rectificadoras, lubricentros, gomerías, estaciones de servicio, distribuidores, mayoristas, aseguradoras y demás comerciantes automotores que deseen operar desde la aplicación web o móvil como requisito para que dichos Usuarios accedan a paquetes especiales de publicaciones y transacción digital de sus productos y/o servicios. Una vez efectuada la registración adicional, las ofertas de venta de cupones, autopartes o servicios automotrices que estos realicen sólo se publicarán en Autominuto a través de alguno de dichos paquetes o bajo las modalidades que Autominuto habilite para este tipo de Usuarios. Autominuto se reserva el derecho de solicitar algún comprobante y/o dato adicional a efectos de corroborar los Datos Personales, así como de suspender temporal o definitivamente a aquellos Usuarios cuyos datos no hayan podido ser confirmados. En estos casos de inhabilitación, se dará de baja todos los artículos publicados, así como las ofertas realizadas, sin que ello genere algún derecho a resarcimiento.
				p El Usuario accederá a su cuenta personal ("Cuenta") mediante el ingreso de su Apodo y clave de seguridad personal elegida ("Clave de Seguridad"). El Usuario se obliga a mantener la confidencialidad de su Clave de Seguridad. ver href="/seguridad" seguridad 
				p La Cuenta es personal, única e intransferible, y está prohibido que un mismo Usuario registre o posea más de una Cuenta. En caso de que Autominuto detecte distintas Cuentas que contengan datos coincidentes o relacionados, podrá cancelar, suspender o inhabilitarlas.
				p El Usuario será responsable por todas las operaciones efectuadas en su Cuenta, pues el acceso a la misma está restringido al ingreso y uso de su Clave de Seguridad, de conocimiento exclusivo del Usuario. El Usuario se compromete a notificar a Autominuto en forma inmediata y por medio idóneo y fehaciente, cualquier uso no autorizado de su Cuenta, así como el ingreso por terceros no autorizados a la misma. Se aclara que está prohibida la venta, cesión o transferencia de la Cuenta (incluyendo la reputación) bajo ningún título.
				p Autominuto se reserva el derecho de rechazar cualquier solicitud de registración o de cancelar una registración previamente aceptada, sin que esté obligado a comunicar o exponer las razones de su decisión y sin que ello genere algún derecho a indemnización o resarcimiento.
				p.color-red
				a( href="/politicas-suspension-usuario") Ver políticas de inhabilitación o suspensión de usuario.
			li.tittle-list #[h3 #[span.underlined Modificaciones del Acuerdo]]
				p Autominuto podrá modificar los Términos y Condiciones Generales en cualquier momento haciendo públicos en el Sitio los términos modificados. Todos los términos modificados entrarán en vigor a los 10 (diez) días de su publicación. Dichas modificaciones serán comunicadas por Autominuto a los usuarios que en la Configuración de su Cuenta de Autominuto hayan indicado que desean recibir notificaciones de los cambios en estos Términos y Condiciones. Todo usuario que no esté de acuerdo con las modificaciones efectuadas por Autominuto podrá solicitar la baja de la cuenta.
				p El uso del sitio y/o sus servicios implica la aceptación de estos Términos y Condiciones generales de uso de Autominuto.
			li.tittle-list #[h3 #[span.underlined Listado de Bienes]]
				ol
					li.tittle-list Utilización de MercadoPago #[span.color-red (Gateway de Pago)]
						p.color-red Al publicar un anuncio en el Sitio, el usuario vendedor consiente expresamente la utilización de Mercado Pago como una de las formas disponibles para el pago del bien o servicio ofrecido y se obliga a no modificar en nada el precio de venta del bien o servicio si el comprador decidiera utilizar MercadoPago. Asimismo, el usuario declara que ha leído, comprendido y aceptado los Términos y Condiciones de utilización de dicho servicio.
					li.tittle-list Publicación de bienes y/o servicios
						p El Usuario deberá ofrecer a la venta los bienes y promover los servicios en las categorías y subcategorías apropiadas que lo representen. Las publicaciones podrán incluir textos descriptivos, gráficos, fotografías y otros contenidos y condiciones pertinentes para la venta del bien o la promoción del servicio, siempre que no violen ninguna disposición de este acuerdo o demás políticas de Autominuto. El producto o servicio ofrecido por el Usuario Vendedor debe ser exactamente descrito en cuanto a sus condiciones y características relevantes. Se entiende y presume que mediante la inclusión del bien o servicio en Autominuto, el Usuario acepta que tiene la intención y el derecho de vender el bien u ofrecer el servicio por él ofrecido, o está facultado para ello por su titular y lo tiene disponible para su entrega inmediata. Se establece que los precios de los productos publicados deberán ser expresados con IVA incluido cuando corresponda la aplicación del mismo, y en moneda del curso legal. Autominuto podrá remover cualquier publicación cuyo precio no sea expresado de esta forma para evitar confusiones o malentendidos en cuanto al precio final del producto. Se deja expresamente establecido que ninguna descripción podrá contener datos personales o de contacto, tales como, y sin limitarse a, números telefónicos, dirección de e-mail, dirección postal, direcciones de páginas de Internet que contengan datos como los mencionados anteriormente. No podrá publicitarse otros medios de pagos, distintos de los enunciados por Autominuto en la página de publicación de artículos, ni tampoco podrá sugerir o insinuar a los compradores que no utilicen el Gateway elegido por Autominuto y/o alterar las condiciones de compra si el Usuario comprador decidiera utilizarlo. En caso de que se infrinja cualquiera de las disposiciones establecidas en esta cláusula, Autominuto podrá editar el espacio, solicitar al Usuario que lo edite, o dar de baja la publicación donde se encuentre la infracción.
					li.tittle-list Inclusión de imágenes y fotografías
						p El comerciante puede incluir imágenes y fotografías del comercio, producto o servicio ofrecido siempre que las mismas se correspondan con el artículo ó ítem en cuestión, salvo que se trate de bienes, productos o de servicios que por su naturaleza no permiten esa correspondencia. El usuario comerciante por tanto, declara y garantiza que está facultado para incluir las imágenes y fotografías contenidas en sus publicaciones, siendo responsable por cualquier infracción a derechos de terceros.
						p Autominuto podrá impedir la publicación de la fotografía, e incluso del producto, si interpretara, a su exclusivo criterio, que la imagen no cumple con los presentes Términos y Condiciones. 
						p El usuario otorga a Autominuto una autorización gratuita y sin límite temporal para publicar y/o adaptar las imágenes incluidas en sus publicaciones con fines de clasificación, aumento de alcance o exposición de productos, servicios o instalaciones en todos sus sitios, redes sociales y/o por cualquier medio que Autominuto utilice para comunicación.
					li.tittle-list Artículos Prohibidos
						p Sólo podrán ser ingresados en las listas de bienes ofrecidos y/o servicios promocionados, aquellos cuya venta no se encuentre tácita o expresamente prohibida en los Términos y Condiciones Generales y demás políticas de Autominuto o por las leyes y reglamentaciones vigentes, incluida la Ley 25.761.
						p #[h4 Los vendedores son exclusivos responsables de la legalidad y legitimidad de los artículos que ofrecen.] Autominuto no asume responsabilidad alguna por la existencia en el sitio de productos o servicios que infrinjan las políticas o cualquier ley o resolución judicial vigente.
					li.tittle-list Protección de Propiedad Intelectual
						p En caso de que Autominuto sospeche que se está cometiendo o se ha cometido una actividad ilícita o infractora de derechos de propiedad intelectual o industrial, Autominuto se reserva el derecho de adoptar todas las medidas que entienda adecuadas, lo que puede incluir dar acceso limitado a los participantes y otros titulares de estos derechos a algunos de sus datos personales tal como se describe en las Políticas de Privacidad.
			li.tittle-list #[h3 #[span.underlined Privacidad de la Información]]
				p Para utilizar los Servicios ofrecidos por Autominuto, los Usuarios deberán facilitar determinados datos de carácter personal. Su información personal se procesa y almacena en servidores o medios magnéticos que mantienen altos estándares de seguridad y protección tanto física como tecnológica. Para mayor información sobre la privacidad de los Datos Personales y casos en los que será revelada la información personal, se pueden consultar nuestras Políticas de Privacidad.
			li.tittle-list #[h3 #[span.underlined Obligaciones de los Usuarios]]
				ol
					li.tittle-list Obligaciones del Comprador
						p Durante el plazo fijado por Autominuto, los Usuarios vendedores interesados que formen parte de la plataforma, sean los mismos listados o suscritos, realizarán ofertas de compra para los bienes y servicios ofrecidos a los Usuarios Compradores que la plataforma en cuestión les acerque. La oferta de venta se cierra una vez que vence el plazo o se acaban las cantidades estipuladas por el Vendedor y la promoción del servicio culmina con el vencimiento del plazo de la publicación.
						p El Comprador está obligado a intentar comunicarse con el vendedor y completar la operación si ha realizado una oferta por el servicio o artículo publicado bajo la modalidad de "compra inmediata", salvo que la operación esté prohibida por la ley o los Términos y Condiciones Generales y demás políticas de Autominuto, en cuyo caso no estará obligado a concretar la operación.
						p Al ofertar por un artículo el Usuario acepta quedar obligado por las condiciones de venta incluidas en la descripción del artículo en la medida en que las mismas no infrinjan las leyes o los Términos y Condiciones Generales y demás políticas de Autominuto. La oferta de compra es irrevocable salvo en circunstancias excepcionales, tales como que el vendedor cambie sustancialmente la descripción del artículo después de realizada alguna oferta, que exista un claro error tipográfico, o que no pueda verificar la identidad del vendedor.
						p En el caso que se deba llevar a cabo alguna tarea no contemplada en los términos y condiciones propios del trabajo, será responsabilidad del Usuario Comerciante, informarle al Usuario Cliente, necesitando el consentimiento del mismo para su realización. Este trabajo deberá ser abonado por el cliente al Instalador, en efectivo al momento de su realización. Autominuto no se hace responsable por los costos que el mismo pudiera ocasionar.
						p Las ofertas de compra sólo serán consideradas válidas, una vez que hayan sido procesadas por el sistema informático de Autominuto.
						p #[b Impuestos].Tal como lo establece la normativa fiscal vigente, el comprador debe exigir factura o ticket al vendedor como comprobante de la operación. El vendedor no estará obligado a emitir factura o ticket sólo en el caso de tratarse de una persona física que efectúa ventas ocasionalmente.
					li.tittle-list Obligaciones del Vendedor
						p El usuario vendedor debe tener capacidad legal para vender el bien objeto de su oferta. Si el usuario vendedor ha recibido al menos una oferta sobre el precio mínimo que estableció queda obligado a intentar comunicarse con el comprador y completar la operación con el usuario que haya realizado la oferta más alta o la que alcance el precio establecido en la modalidad Compra Inmediata. Solamente en casos excepcionales el vendedor podrá retractarse de la venta, tales como cuando no haya podido acordar con el usuario comprador sobre la forma de pago, de entrega o no sea posible verificar la verdadera identidad o demás información del comprador.
						p Autominuto tendrá el derecho de requerir, conforme los criterios que considere pertinentes, que ciertos usuarios vendedores solamente anuncien sus bienes o servicios en el Sitio Web mediante la utilización de los Servicios de Gestión de Pagos online de Mercado Pago y/o otras herramientas ofrecidas por Autominuto para el cobro del bien vendido y de las tarifas por la utilización de los servicios, importando eventualmente en el pago de tarifas aplicables por la utilización de los mismos.
						p Dado que Autominuto es un punto de encuentro entre comprador y vendedor y no participa de las operaciones que se realizan entre ellos, el Vendedor será responsable por todas las obligaciones y cargas impositivas que correspondan por la venta de sus artículos, sin que pudiera imputársele a Autominuto algún tipo de responsabilidad por incumplimientos en tal sentido.
						p #[b Impuestos]. Como se menciona anteriormente, Autominuto sólo pone a disposición de los usuarios un espacio virtual que les permite comunicarse mediante Internet para encontrar una forma de vender o comprar artículos y/o servicios. Autominuto no tiene participación alguna en el proceso de negociación y perfeccionamiento del contrato definitivo entre las partes. Por eso, Autominuto no es responsable por el efectivo cumplimiento de las obligaciones fiscales o impositivas establecidas por la ley vigente.
						p En el caso que se deba llevar a cabo alguna tarea no contemplada en los términos y condiciones propios del trabajo, será responsabilidad del Usuario Comerciante, informárselo al Usuario Cliente, necesitando el consentimiento del mismo para su realización. Este trabajo deberá ser abonado por el cliente al Instalador, en efectivo al momento de su realización. Autominuto no se hace responsable por los costos que el mismo pudiera ocasionar.
						p En caso de recibir un reclamo dentro de los 10 días de recibido el producto por cuenta del comprador y debido a la Ley de Defensa del Consumidor, el vendedor deberá aceptar el cambio o devolución del mismo y hacerse cargo de los gastos que esto conlleve, incluyendo los costos de envíos que fueren necesarios. Autominuto podrá debitar estos costos, a través del sistema de MercadoPago, de la cuenta del vendedor.
			li.tittle-list #[h3 #[span.underlined Prohibiciones]]
				p Los usuarios no podrán: (a) manipular los precios de los artículos; (b) mantener ningún tipo de comunicación por e-mail, o por cualquier otro medio (incluyendo las redes sociales) durante la oferta del bien con ninguno de los Usuarios que participan en la misma, salvo en la sección de Preguntas y Respuestas; (c) dar a conocer sus datos personales o de otros usuarios a través de la sección de Preguntas y Respuestas y/o por algún otro medio (incluyendo pero sin limitar Twitter, Facebook y/ o cualquier otra red social), salvo lo estipulado específicamente para la categoría Carros, motos y otros, Servicios e Inmuebles y Propiedades; (d) aceptar datos personales proporcionados por otros usuarios a través de la sección de Preguntas y Respuestas y/o algún otro medio (incluyendo pero sin limitar Twitter, Facebook y/o cualquier otra red social); (e) publicar o vender artículos prohibidos por los Términos y Condiciones Generales, demás políticas de Autominuto o leyes vigentes; (f) insultar o agredir a otros Usuarios; (g) utilizar su reputación, calificaciones o comentarios recibidos en el sitio de Autominuto en cualquier ámbito fuera de Autominuto ; (h) publicar artículos idénticos en más de una publicación; (i) publicar productos idénticos en más de una publicación.
				p Este tipo de actividades será investigado por Autominuto y el infractor podrá ser sancionado con la suspensión o cancelación de la oferta e incluso de su inscripción como usuario de Autominuto y/o de cualquier otra forma que estime pertinente, sin perjuicio de las acciones legales a que pueda dar lugar por la configuración de delitos o contravenciones o los perjuicios civiles que pueda causar a los usuarios oferentes.
			li.tittle-list #[h3 #[span.underlined Violaciones del Sistema o Bases de Datos]]
				p No está permitida ninguna acción o uso de dispositivo, software, u otro medio tendiente a interferir tanto en las actividades y operatoria de Autominuto como en las ofertas, descripciones, cuentas o bases de datos de Autominuto. Cualquier intromisión, tentativa o actividad violatoria o contraria a las leyes sobre derecho de propiedad intelectual y/o a las prohibiciones estipuladas en este contrato harán pasible a su responsable de las acciones legales pertinentes, y a las sanciones previstas por este acuerdo, así como lo hará responsable de indemnizar los daños ocasionados.
			li.tittle-list #[h3 #[span.underlined Sanciones. Suspensión de operaciones]]
				p Sin perjuicio de otras medidas, Autominuto podrá advertir, suspender en forma temporal o definitivamente la Cuenta de un Usuario o una publicación, aplicar una sanción que impacte negativamente en la reputación de un Usuario, iniciar las acciones que estime pertinentes y/o suspender la prestación de sus Servicios si (a) se quebrantara alguna ley, o cualquiera de las estipulaciones de los Términos y Condiciones Generales y demás políticas de Autominuto ; (b) si incumpliera sus compromisos como Usuario; (c) si se incurriera a criterio de Autominuto en conductas o actos dolosos o fraudulentos; (d) no pudiera verificarse la identidad del Usuario o cualquier información proporcionada por el mismo fuere errónea; (e) Autominuto entendiera que las publicaciones u otras acciones pueden ser causa de responsabilidad para el Usuario que las publicó, para Autominuto o para los demás Usuarios en general. En el caso de la suspensión de un Usuario, sea temporal o definitiva, todos los artículos y servicios que tuviera publicados serán removidos del sistema.
			li.tittle-list #[h3 #[span.underlined Responsabilidad]]
				p Autominuto sólo pone a disposición de los Usuarios un espacio virtual que les permite ponerse en comunicación mediante Internet para encontrar una forma de vender o comprar servicios o bienes. Autominuto no es el propietario de los artículos ofrecidos, no tiene posesión de ellos ni los ofrece en venta. Autominuto no interviene en el perfeccionamiento de las operaciones realizadas entre los Usuarios ni en las condiciones por ellos estipuladas para las mismas, por ello no será responsable respecto de la existencia, calidad, cantidad, estado, integridad o legitimidad de los bienes ofrecidos, adquiridos o enajenados por los Usuarios, así como de la capacidad para contratar de los Usuarios o de la veracidad de los Datos Personales por ellos ingresados. Cada Usuario conoce y acepta ser el exclusivo responsable por los artículos que publica para su venta y por las ofertas y/o compras que realiza.
				p Debido a que Autominuto no tiene ninguna participación durante todo el tiempo en que el artículo se publica para la venta, ni en la posterior negociación y perfeccionamiento del contrato definitivo entre las partes, no será responsable por el efectivo cumplimiento de las obligaciones asumidas por los Usuarios en el perfeccionamiento de la operación. El Usuario conoce y acepta que al realizar operaciones con otros Usuarios o terceros lo hace bajo su propio riesgo. En ningún caso Autominuto será responsable por lucro cesante, o por cualquier otro daño y/o perjuicio que haya podido sufrir el Usuario, debido a las operaciones realizadas o no realizadas por artículos publicados a través de Autominuto.
				p Autominuto recomienda actuar con prudencia y sentido común al momento de realizar operaciones con otros Usuarios. El Usuario debe tener presentes, además, los riesgos de contratar con menores o con personas que se valgan de una identidad falsa. Autominuto NO será responsable por la realización de ofertas y/o operaciones con otros Usuarios basadas en la confianza depositada en el sistema o los Servicios brindados por Autominuto.
				p En caso de que uno o más Usuarios o algún tercero inicien cualquier tipo de reclamo o acciones legales contra otro u otros Usuarios, todos y cada uno de los Usuarios involucrados en dichos reclamos o acciones eximen de toda responsabilidad a Autominuto y a sus directores, gerentes, empleados, agentes, operarios, representantes y apoderados. Los Usuarios tienen un plazo de 90 días desde la compra para iniciar un reclamo contra otro u otros Usuarios. Una vez vencido este plazo, no podrán iniciar un reclamo desde el sitio de Autominuto.
				p En virtud que el usuario vendedor tiene la facultad para eliminar preguntas o impedir a un usuario hacer preguntas u ofertas en sus publicaciones, se deja aclarado que, en ese caso, el usuario será el exclusivo responsable por esa decisión y las consecuencias que pudieran acarrear.
			li.tittle-list #[h3 #[span.underlined Alcance de los servicios de Autominuto]]
				P Este acuerdo no crea ningún contrato de sociedad, de mandato, de franquicia, o relación laboral entre Autominuto y el usuario. El usuario reconoce y acepta que Autominuto no es parte en ninguna operación, ni tiene control alguno sobre la calidad, seguridad o legalidad de los artículos o servicio anunciados, la veracidad o exactitud de los anuncios, la capacidad de los Usuarios para vender o comprar artículos. Autominuto no puede asegurar que un usuario completará una operación ni podrá verificar la identidad o datos personales ingresados por los usuarios. Autominuto no garantiza la veracidad de la publicidad de terceros que aparezca en el sitio y no será responsable por la correspondencia o contratos que el usuario celebre con dichos terceros o con otros usuarios.
			li.tittle-list #[h3 #[span.underlined Fallas en el sistema]]
				p Autominuto no se responsabiliza por cualquier daño, perjuicio o pérdida al usuario causados por fallas en el sistema, en el servidor o en Internet. Autominuto tampoco será responsable por cualquier virus que pudiera infectar el equipo del usuario como consecuencia del acceso, uso o examen de su sitio web o a raíz de cualquier transferencia de datos, archivos, imágenes, textos, o audio contenidos en el mismo. Los usuarios NO podrán imputarle responsabilidad alguna ni exigir pago por lucro cesante, en virtud de perjuicios resultantes de dificultades técnicas o fallas en los sistemas o en Internet. Autominuto no garantiza el acceso y uso continuado o ininterrumpido de su sitio. El sistema puede eventualmente no estar disponible debido a dificultades técnicas o fallas de Internet, o por cualquier otra circunstancia ajena a Autominuto; en tales casos se procurará restablecerlo con la mayor celeridad posible sin que por ello pueda imputársele algún tipo de responsabilidad. Autominuto no será responsable por ningún error u omisión contenidos en su sitio web.
			li.tittle-list #[h3 #[span.underlined Tarifas. Facturación]]
				p El Usuario podrá contratar los servicios del Profesional bajo las modalidades de pago disponibles en el Sistema y pagará cargos a Autominuto por cada compra o contratación realizada a través de la plataforma, pudiendo realizar tantas consultas o cotizaciones como crea conveniente. Todas las cotizaciones tienen un período de validez de 14 días, pasada dicha fecha, la misma quedará totalmente invalidada. el cual sería adicionado a la respuesta de cotización de servicio o producto realizada por el comercio miembro.
				p Bajo cualquiera de las modalidades de pago disponibles para el Usuario, el Profesional deberá trasladar el costo de servicio a modo de comisión por el servicio comercial prestado a Autominuto según la comisión que se encuentre vigente al momento de la contratación. Puede consultar las comisiones vigentes contactandonos en #[a(href="mailto:info@autominuto.com") info@autominuto.com].
				p Autominuto percibirá cargos o comisiones que podrán ser fijos o variables según cantidad y naturaleza de las cotizaciones derivadas según tipo de plan o membresía a la que quiera suscribirse el Profesional y de la cantidad de transacciones que realice a través del sitio.
				p Autominuto se reserva el derecho de tomar las medidas judiciales y extrajudiciales que estime pertinentes para obtener el pago del monto debido.
				p Autominuto se reserva el derecho de modificar, cambiar, agregar, o eliminar las tarifas vigentes, en cualquier momento, lo cual será notificado a los Usuarios.
				p En caso de haberse facturado cargos que no hubiesen correspondido, el usuario deberá comunicarse con nuestro equipo de Atención al Cliente para resolver dicha cuestión.
			li.tittle-list #[h3 #[span.underlined Sistema de reputación]]
				p Debido a que la verificación de la identidad de los Usuarios en Internet es difícil, Autominuto no puede confirmar ni confirma la identidad pretendida de cada Usuario. Por ello el Usuario Vendedor cuenta con un sistema de reputación de Usuarios que es actualizado periódicamente en base a datos vinculados con su actividad en el sitio. El mismo, consta de recomendaciones, realizadas por cualquier usuario registrado o calificaciones realizadas por cada usuario registrado solo 1 vez por comercio y calificaciones, siendo estas últimas las que generan que un comerciante pueda aumentar su categoría (bronce, plata, oro, platino) a través de la puntuación positiva de sus clientes ante una o varias transacciones efectivas realizadas a través de la plataforma. Este sistema de reputación además constará de un espacio donde los Usuarios Compradores podrán hacer comentarios sobre la experiencia de compra. Dichos comentarios serán incluidos bajo exclusiva responsabilidad de los Usuarios que los emitan.
				p Autominuto no tiene obligación de verificar la veracidad o exactitud de los mismos y NO se responsabiliza por los dichos allí vertidos por cualquier Usuario, por las ofertas de compras o ventas que los Usuarios realicen teniéndolos en cuenta o por la confianza depositada en las opiniones de los compradores o por cualquier otro comentario expresado dentro del sitio o a través de cualquier otro medio incluido el correo electrónico. Autominuto se reserva el derecho de editar y/o eliminar aquellos comentarios que sean considerados inadecuados u ofensivos. Autominuto mantiene el derecho de excluir a aquellos Usuarios que sean objeto de comentarios negativos provenientes de fuentes distintas.
			li.tittle-list #[h3 #[span.underlined Propiedad intelectual. Enlaces]]
				p Los contenidos de las pantallas relativas a los servicios de Autominuto como así también los programas, bases de datos, redes, archivos que permiten al Usuario acceder y usar su Cuenta, son de propiedad de Autominuto y están protegidas por las leyes y los tratados internacionales de derecho de autor, marcas, patentes, modelos y diseños industriales. El uso indebido y la reproducción total o parcial de dichos contenidos quedan prohibidos, salvo autorización expresa y por escrito de Autominuto.
				p El Sitio puede contener enlaces a otros sitios web, lo cual no indica que sean propiedad u operados por Autominuto. En virtud que Autominuto no tiene control sobre tales sitios, NO será responsable por los contenidos, materiales, acciones y/o servicios prestados por los mismos, ni por daños o pérdidas ocasionadas por la utilización de los mismos, sean causadas directa o indirectamente. La presencia de enlaces a otros sitios web no implica una sociedad, relación, aprobación, respaldo de Autominuto a dichos sitios y sus contenidos.
			li.tittle-list #[h3 #[span.underlined Indemnidad]]
				p El Usuario mantendrá indemne a Autominuto, así como a sus filiales, empresas controladas y/o controlantes, funcionarios, directivos, sucesores, administradores, representantes y empleados, por cualquier reclamo iniciado por otros Usuarios, terceros o por cualquier Organismo, relacionado con sus actividades en el Sitio, el cumplimiento y/o el incumplimiento de los Términos y Condiciones Generales o demás Políticas, así como respecto de cualquier violación de leyes o derechos de terceros.
				p En ningún caso y bajo ninguna circunstancia podrá interpretarse la existencia de una sociedad entre Autominuto y el Profesional o de una relación de representación, mandato, asociación o unión transitoria de empresas entre las mismas quedando expresamente establecido que Autominuto y Profesional son personas distintas y absolutamente independientes una de la otra.
				p A tal fin, el Usuario faculta a Autominuto a: i) intervenir y representarlo en dichos reclamos, pudiendo celebrar los acuerdos transaccionales que considere oportunos y que tiendan a evitar mayores costos y/o evitar eventuales contingencias sin limitación, en su nombre y representación; ii) retener y debitar de su Cuenta de Mercado Pago los fondos existentes y/o futuros para recuperar los gastos incurridos en los acuerdos, los cuales podrán incluir los honorarios de los letrados intervinientes y las costas judiciales en una cantidad razonable, y/o iii) generar débitos específicos en su facturación.
			li.tittle-list #[h3 #[span.underlined Jurisdicción y Ley Aplicable]]
				p Este acuerdo estará regido en todos sus puntos por las leyes vigentes en la República Argentina.
				p Cualquier controversia derivada del presente acuerdo, su existencia, validez, interpretación, alcance o cumplimiento, será sometida al arbitraje del Centro Empresarial de Mediación y Arbitraje, de acuerdo con la reglamentación vigente de dicho tribunal. La sede de dicho arbitraje será la Ciudad Autónoma de Buenos Aires y los procedimientos se llevarán a cabo en idioma castellano.
			li.tittle-list #[h3 #[span.underlined Domicilio]]
				p Se fija como domicilio de NEARU S.A. la calle Av. Corrientes 1145 3º Piso, of. 41/43, Buenos Aires, Argentina (1043), República Argentina.
				p Si tienes alguna duda sobre los Términos y Condiciones Generales o demás políticas y principios que rigen Autominuto consulta nuestra página de Ayuda.


		h2 TÉRMINOS Y CONDICIONES RESPECTO A PAGO
		h3 Condiciones de pago para facturas emitidas por los profesionales a Nearu S.A.
		p Una vez que hayas terminado el trabajo deberás enviarnos una foto o scan de tu factura a #[a(href="mailto:facturas@autominuto.com") facturas@autominuto.com].
		p La misma deberá ser dirigida a:
		p Razón Social: Nearu S.A.
		p CUIT 30-71530229-9
		p Domicilio: Av. Corrientes 1145 3º Piso, of. 41/43, Buenos Aires, Argentina (1043)
		p Condición frente al IVA: IVA Resp. Insc.
		p y deberá contener en el detalle el número de todos los trabajos facturados así como también la forma de pago elegida.
		h4 Deposito en tu cuenta bancaria*
		p Deberás indicarnos Nombre completo del Titular, CBU, DNI o CUIT, Banco, tipo y # de cuenta
		p #[i *La factura original deberá ser entregada por correo en un plazo no mayor a 15 días corridos luego del cobro de la misma.]
		h3 Condiciones de pago para facturas emitidas por los profesionales a clientes finales
		p Para el cobro de tu trabajo o autoparte, una vez que el mismo haya sido finalizado, deberás enviarnos una foto o scan de la factura emitida al cliente por el monto abonado a #[a(href="mailto:facturas@autominuto.com") facturas@autominuto.com] indicando:
		p 1) el número de trabajo;
		p 2) el número de orden de pago;
		p 3) forma de pago elegida:
		h4 Deposito en tu cuenta bancaria
		p Deberás indicarnos Nombre completo del Titular, CBU, DNI o CUIT, Banco, tipo y # de cuenta
















		