doctype html
html
	head
		title= "Autominuto"
		meta(property="og:locale", content = "es_AR")
		meta(property="og:title", content="Recomendame en autominuto.com")
		meta(property="og:image", content= host + "/assets/images/autominuto_icon_s.png")
		meta(charset="utf-8")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(name="description", content="Autominuto")
		link(rel="icon", type="image/x-icon" href="assets/images/favicon.ico")
		link(href='https://fonts.googleapis.com/css?family=Raleway:600,700,400', rel='stylesheet', type='text/css')
		style(type='text/css').
			.underlined {
				text-decoration: underline;
			}
			.color-red {
				color: red;
			}
			.color-initial {
				color: initial;
			}
			.tittle-list{
				font-weight: bold;
			}
			.tittle-list p{
				font-weight: normal;
			}
			a:link {
			    color: red;
			}

			/* visited link */
			a:visited {
			    color: green;
			}
			ol {
			  list-style-type: none;
			  counter-reset: item;
			  margin: 0;
			  padding: 0;
			}

			ol > li {
			  display: table;
			  counter-increment: item;
			  margin-bottom: 0.6em;
			}

			ol > li:before {
			  content: counters(item, ".") ".";
			  display: table-cell;
			  padding-right: 0.6em;
			}

			li ol > li {
			  margin: 0;
			}

			li ol > li:before {
			  content: counters(item, ".");
			}
			body{
				font-family: Raleway;
				max-width:700px;
				margin: 0 auto;
				padding: 15px;
			}
			p{
				color:#666;
			}
	body
		h2 Términos y Condiciones de uso de #[b autominuto] para PROFESIONALES 
		p Este contrato describe los términos y condiciones generales (los "Términos y Condiciones Generales") aplicables al uso de los servicios ofrecidos por NEARU S.A., CUIT 30-71530229-9, ("los Servicios") dentro de los sitios #[a(href="https://www.autominuto.com.ar") www.autominuto.com.ar] y #[a(href="https://www.autominuto.com") www.autominuto.com] ("Autominuto" o el "sitio"). Cualquier persona (en adelante "Usuario" o en plural "Usuarios") que desee acceder y/o usar el sitio o los Servicios podrá hacerlo sujetándose a los Términos y Condiciones Generales respectivos, junto con todas las demás políticas y principios que rigen #[b autominuto] y que son incorporados al presente por referencia.
		
		ol
			li.tittle-list #[h3 #[span.underlined Conformidad y aceptación de los términos y condiciones. obligatoriedad ]]
				ol
					li.tittle-list
						p Es obligación del #[b profesional] leer íntegramente y aceptar los Términos y Condiciones con carácter previo a la utilización del Sistema. Sin admitir prueba en contrario, se entenderá que la utilización del Sistema por parte del #[b profesional] implica la lectura, comprensión, conformidad y aceptación sin condiciones y/o reservas de los Términos y Condiciones y de todo documento aquí referido o que se relacione con el mismo. 
					li.tittle-list
						p Las cláusulas que integran los Términos y Condiciones regirán la relación entre #[b autominuto] y el #[b profesional], siendo válidas y vinculantes durante todo el tiempo de su vigencia.	
					li.tittle-list
						p El Acuerdo incluye diversos derechos y obligaciones entre las partes, la recolección, tratamiento y protección de datos personales, políticas de privacidad, condiciones del SERVICIO, y el estricto cumplimiento a la normativa vigente que rige el derecho argentino, entre otras cuestiones.
					li.tittle-list
						p Asimismo, declara comprender y aceptar que #[b autominuto] ofrece un servicio de contacto con los potenciales USUARIOS de los servicios #[b profesionales] ofrecidos como persona humana y/o persona jurídica por medio del uso de una plataforma de comunicación que usted decide utilizar y contratar a través de la aceptación de estos TÉRMINOS Y CONDICIONES del SITIO y/o la APLICACIÓN.	
					li.tittle-list
						p Sin perjuicio de que #[b autominuto] informe al correo electrónico registrado cualquier cambio y/o actualización a éstos TÉRMINOS Y CONDICIONES, sugerimos que los mismos sean revisados cada vez que ingrese y/o se utilice el SITIO y/o la APLICACIÓN.
					li.tittle-list
						p  Recuerde que al registrarse como #[b profesional] en #[b autominuto], ya sea en forma personal o en representación de una empresa, prestará expresa conformidad con las condiciones de uso de #[b autominuto] y aceptará cumplir con los términos y condiciones generales como así también con los particulares, cuando corresponda. Usted expresamente comprende la modalidad de la prestación de servicios que #[b autominuto] le provee, y el alcance y modalidad de los servicios que usted presta a los USUARIOS de la plataforma.
			li.tittle-list #[h3 #[span.underlined Funcionamiento del sistema. registro de usuario y apertura de cuenta ]]
				ol
					li.tittle-list
						p #[b autominuto] es un servicio de tecnología accesible a través del SITIO y/o la APLICACIÓN y/o teléfono y/o personalmente por medio de un reseller, que consta de una plataforma de comunicación entre USUARIOS que demanden repuestos, aditivos y accesorios automotores, tanto como los servicios relacionados al postventa automotor -que se detallarán a continuación- (en adelante el “SERVICIO”) y los #[b profesionales] en rubros tales como -y a título enunciativo y no taxativo- servicio técnico, mantenimiento y reparación de automotores, limpieza automotor, instalación de repuestos y accesorios automotores, gestoría automotor, entre otros servicios relacionados al rubro postventa automotor-. El #[b profesional] podrá -con absoluta independencia- aceptar o no los trabajos y/o prestar los servicios que soliciten los USUARIOS de la PLATAFORMA -previo presupuesto del SERVICIO-, debiendo en su caso, cumplir con los requisitos exigidos en este Acuerdo.
					li.tittle-list
						p Para poder utilizar el Sistema, todo #[b profesional] deberá registrarse previamente en el Sitio, completando íntegramente el formulario de registro con datos correctos y válidos e información sobre su persona exacta, precisa y verdadera (“Datos de Registro”). Cualquier modificación en los Datos de Registro deberá ser actualizada e informada a #[b autominuto] en forma inmediata. #[b autominuto] no es responsable frente a los Usuarios u otros terceros por la veracidad y/o exactitud de los Datos de Registro que suministren los #[b profesionales]. Los #[b profesionales] garantizan y responden, en cualquier caso, de la veracidad, exactitud, integridad, vigencia y autenticidad de los Datos de Registro ingresados. Toda la información y los Datos de Registro ingresados por el #[b profesional] tienen carácter de declaración jurada.
					li.tittle-list
						p #[b autominuto] se reserva el derecho de rechazar una solicitud de registro o de cancelar o suspender, temporal o definitivamente una cuenta de #[b profesional], en caso de advertir la existencia de incongruencias, falsedades, errores o inconsistencias en la información provista por un #[b profesional] o en caso de detectar actividades sospechosas, sin que tal decisión genere para el #[b profesional] derechos de indemnización o resarcimiento. A los efectos evaluar una solicitud de registro, #[b autominuto] podrá auditar el local comercial del #[b profesional]. Asimismo, podrá fijar requisitos que deberá cumplir el #[b profesional] y/o el local comercial del #[b profesional] para poder registrarse como #[b profesional] en #[b autominuto]. #[b autominuto] se reserva el derecho de rechazar una solicitud de registro y también podrá cancelar o suspender, temporal o definitivamente una cuenta de #[b profesional], si luego de registrado deja de reunir los requisitos fijados por #[b autominuto] en el momento de la registración y los que pueda exigir luego de dicha registración. En los supuestos de que #[b autominuto] detecte incongruencias, falsedades, errores o inconsistencias en la información provista por un #[b profesional] o en caso de detectar actividades sospechosas, #[b autominuto] no será responsable ante las demoras, rechazos o imposibilidad de gestionar los movimientos de la cuenta del #[b profesional]. 
					li.tittle-list
						p El Sistema permite al #[b profesional] debidamente registrado bajo los Términos y Condiciones ofrecer productos y/o servicios a través de la cuenta digital del #[b profesional] (la “Cuenta del #[b profesional]”). A través del Sistema el #[b profesional] podrá describir cuales son los servicios que ofrece y ponerse en contacto con los Usuarios que estén interesados en contratar tales productos. En determinados supuestos, el Sistema también permitirá a los #[b profesionales] recibir pagos de los Usuarios por los servicios que contrate o realizar pagos a #[b autominuto] en concepto de comisiones u otros cargos, a través de los medios de pago que #[b autominuto] ponga a disposición del Usuario y del #[b profesional]. #[b autominuto] no asume ninguna obligación frente al #[b profesional] y al Usuario adicional a la de poner a disposición de los mismo el Sistema a los efectos de posibilitar el contacto entre Usuarios y #[b profesionales] y que estos pueden, respectivamente, hacer y recibir pagos relacionados con las operaciones que se concierten a través del Sistema. En todos los casos, la contratación será directa entre el Usuario y el #[b profesional], sin intervención o injerencia alguna de #[b autominuto], por lo que #[b autominuto] no asumirá responsabilidad alguna en las contrataciones que se celebren entre el Usuario y el #[b profesional]. El #[b profesional] será el único responsable ante el Usuario de otorgar la garantía que, tanto en plazo de vigencia como en la demás condiciones, cumpla con la legislación vigente. En forma adicional, el plazo de vigencia de la garantía nunca podrá ser inferior a seis (6) meses, incluso para los supuestos en que la legislación vigente prevé o autoriza un plazo inferior o bien no obliga a otorgar garantía. 
					li.tittle-list
						p La Cuenta sólo podrá tener un #[b profesional] asignado, siendo personal e intransferible, ya sea por cesión, venta o transferencia o por cualquier otro título. El #[b profesional] no podrá permitir la utilización de su Cuenta por parte de terceros (con excepción de personal propio del #[b profesional]) ni podrá utilizarla en representación y/o por cuenta y orden de terceros, quedando #[b autominuto] eximida de toda responsabilidad en caso de violación de esta prohibición.		
					li.tittle-list
						p #[b autominuto] percibirá cargos o comisiones que podrán ser fijos o variables y depender del tipo de membresía a la que quiera suscribirse el #[b profesional] y de la cantidad de transacciones que realice a través del sitio. 	
					li.tittle-list
						p El #[b profesional] se obliga a mantener en todo momento la confidencialidad de su clave personal. Las operaciones efectuadas mediante el ingreso del e-mail y la clave personal serán siempre imputables al #[b profesional] aún cuando el #[b profesional] invoque, sostenga, acredite o intente acreditar que fueron efectuadas por terceros sin su consentimiento u autorización. 
					li.tittle-list
						p #[b autominuto] no asume responsabilidad alguna frente al #[b profesional] ni al Usuario ante posibles cancelaciones, anulaciones, incumplimientos o defectos en la ejecución de las obligaciones asumidas por el #[b profesional], ya sea que éstos consistan en productos o servicios.	
					li.tittle-list
						p  En ningún caso y bajo ninguna circunstancia podrá interpretarse la existencia de una sociedad entre #[b autominuto] y el #[b profesional] o de una relación de representación, mandato, asociación o unión transitoria de empresas entre las mismas quedando expresamente establecido que #[b autominuto] y #[b profesional] son personas distintas y absolutamente independientes una de la otra
					li.tittle-list
						p  El #[b profesional] entiende que #[b autominuto] no garantiza ni es responsable por la calidad, disponibilidad, envío o ejecución de los servicios que se ofrezcan y/o contraten a través del Sistema ni tampoco responde por ninguna de las obligaciones que asuma el #[b profesional] o el Usuario con relación a los servicios ofrecidos o recibidos a través del Sistema. En ningún caso #[b autominuto] será responsable frente a cualquier #[b profesional], Usuario o terceros por las operaciones o transacciones que se realicen o servicios que se presenten a través del Sistema. El #[b profesional] se compromete a mantener indemne de toda responsabilidad a #[b autominuto] con relación a cualquier reclamo judicial o extrajudicial que pudiera iniciar un Usuario o cualquier tercero contra #[b autominuto] y/o sus accionistas y/o sociedades controlantes, controladas o vinculadas, incluyendo pero, pero sin limitarse a reclamos de orden impositivo, laboral o previsional o por cualquier otro tipo de obligación asumida por el #[b profesional] frente a tales Usuarios o terceros incluidos pero no limitado a reclamos sobre propiedad intelectual, productos, ofertas publicadas, transacciones comprometidas, datos de venta, servicios de apoyo, características de la entrega, falta de información respecto de los productos o servicios ofrecidos, cualidades, calidad, garantías, costos adicionales y otras condiciones de los productos o servicios ofrecidos a través del Sistema. 
					li.tittle-list
						p  El valor de los servicios o productos ofrecidos por el #[b profesional] en el Sitio en ningún caso podrá ser superior al valor al que el #[b profesional] ofrezca al público o comercialice dichos servicios o productos por cualquier otro medio, incluido su local comercial. 
					li.tittle-list
						p  A través de sistemas de enlace u otras herramientas disponibles en el Sitio, el Sistema permitirá al #[b profesional] acceder a otras plataformas o sistemas donde podrá contratar servicios o productos que el #[b profesional], a su vez, considere necesarios o útiles para la prestación de los servicios que el #[b profesional] ofrezca a los Usuarios del Sistema. El #[b profesional] y Usuario entienden que #[b autominuto] no garantiza ni es responsable por la calidad, disponibilidad, envío o ejecución de tales los productos o servicios ni tampoco responde por ninguna de las obligaciones que asuman los oferentes de tales productos o servicios frente al #[b profesional]. 	
					li.tittle-list
						p  El USUARIO de la plataforma contrata al #[b profesional] en forma personal y por tanto será el #[b profesional] el responsable de cumplir con la ejecución del trabajo o servicio por el cual fue contratado. Por lo tanto, usted expresamente reconoce que, al tomar voluntariamente los trabajos o pedidos de servicio de los USUARIOS de la plataforma, estará contratando directamente con los USUARIOS y que #[b autominuto] sólo le facilita el acceso a la necesidad del USUARIO pero no participa de ninguna manera en la relación entre el #[b profesional] y el USUARIO en cuanto a la realización del trabajo se refiere.
					li.tittle-list
						p  Para que los Trabajos Realizados, Adicionales y Complementarios queden contemplados en el servicio de garantía que brinda #[b autominuto] a los USUARIOS, estos deberán abonar los mismos con los medios de pago habilitados en la PLATAFORMA y el #[b profesional] deberá detallar y documentar en la PLATAFORMA las características del trabajo a realizar, la mano de obra y los materiales necesarios para llevar a cabo el trabajo adicional y Complementario.
					li.tittle-list
						p  #[b autominuto] no provee de herramientas, materiales ni elementos de ningún tipo para la realización del TRABAJO, y por lo tanto #[b autominuto] no será responsable por el efectivo cumplimiento de las obligaciones asumidas por el #[b profesional] y el USUARIO que lo contrate. #[b autominuto] sólo entregará los materiales para la ejecución del TRABAJO y/o SERVICIO cuando el USUARIO optaré por abonar la compra de los mismos desde la PLATAFORMA. Sólo y exclusivamente en ese caso se le entregará al #[b profesional] los materiales para la ejecución del SERVICIO y/o TRABAJO porque el USUARIO así lo hubiera requerido.	
			li.tittle-list #[h3 #[span.underlined Modalidades de contratación y pago – sistema de calificación ]]
				ol
					li.tittle-list
						p  El Sistema permitirá al Usuario describir los servicios que desea contratar y pedir presupuestos a los #[b profesionales] que posean una Cuenta. El #[b profesional] comprende y acepta que el Usuario podrá elegir entre varios presupuestos y contratará los servicios del #[b profesional] que a su exclusivo criterio desee. En cualquier caso, la estimación de efectuada en un presupuesto por un #[b profesional] obligará a dicho #[b profesional] ejecutar el presupuesto en el tiempo y la forma descriptas en el mismo y respetando el valor presupuestado. 
					li.tittle-list
						p  El Usuario podrá contratar los servicios del #[b profesional] bajo las modalidades de pago disponibles en el Sistema. Consulte las modalidades de pago en altas@#[b autominuto].com. Bajo cualquiera de las modalidades de pago disponibles para el Usuario, el #[b profesional] deberá abonar a #[b autominuto] la comisión que se encuentre vigente al momento de la contratación. Puede consultar las comisiones vigentes contactandonos en a #[a(href="mailto:altas@autominuto.com") altas@autominuto.com]
					li.tittle-list Utilización de MercadoPago (Gateway de Pago)
						p  Al publicar un anuncio en el Sitio, el usuario #[b profesional] consiente expresamente la utilización de Mercado Pago como una de las formas disponibles para el pago del bien o servicio ofrecido y se obliga a no modificar en nada el precio de venta del bien o servicio si el comprador decidiera utilizar MercadoPago. Asimismo, el usuario declara que ha leído, comprendido y aceptado los Términos y Condiciones de utilización de dicho servicio.

			li.tittle-list #[h3 #[span.underlined Modificación del contrato ]]
				ol
					li.tittle-list
						p  #[b autominuto] podrá modificar unilateralmente el Contrato en cualquier momento, debiendo notificar al #[b profesional] y al Usuario de dichas modificaciones. 
					li.tittle-list
						p  Las modificaciones serán notificadas a través de la publicación o notificación en el Sistema, del Sitio o de la comunicación vía e-mail al #[b profesional] o al Usuario a su dirección de e-mail registrada, lo que ocurra primero. 
			li.tittle-list #[h3 #[span.underlined  Personas excluidas ]]
				ol
					li.tittle-list
						p   El Sistema no podrá ser utilizado ni podrán registrarse y/o mantenerse activos en la plataforma de #[b autominuto] como #[b profesionales], las personas humanas que no tengan esa capacidad, los menores de edad, personas jurídicas que no acrediten que se encuentran habilitadas para prestar los servicios que ofrecen.
					li.tittle-list
						p   Tampoco podrán utilizar el Sistema los Usuarios que hayan sido suspendidos o inhabilitados por #[b autominuto], ya sea en forma temporal o definitiva. 
			li.tittle-list #[h3 #[span.underlined  Obligaciones del #[b profesional] ]]
				ol
					li.tittle-list
						p  El usuario vendedor debe tener capacidad legal para vender el bien objeto de su oferta. Si el usuario vendedor ha recibido al menos una oferta sobre el precio mínimo que estableció queda obligado a intentar comunicarse con el comprador y completar la operación con el usuario que haya realizado la oferta más alta o la que alcance el precio establecido en la modalidad Compra Inmediata. Solamente en casos excepcionales el vendedor podrá retractarse de la venta, tales como cuando no haya podido acordar con el usuario comprador sobre la forma de pago, de entrega o no sea posible verificar la verdadera identidad o demás información del comprador.
					li.tittle-list
						p   #[b autominuto] tendrá el derecho de requerir, conforme los criterios que considere pertinentes, que ciertos usuarios vendedores solamente anuncien sus bienes o servicios en el Sitio Web mediante la utilización de los Servicios de Gestión de Pagos online de Mercado Pago y/o otras herramientas ofrecidas por #[b autominuto] para el cobro del bien vendido y de las tarifas por la utilización de los servicios, importando eventualmente en el pago de tarifas aplicables por la utilización de los mismos.
						p Dado que #[b autominuto] es un punto de encuentro entre comprador y vendedor y no participa de las operaciones que se realizan entre ellos, el Vendedor será responsable por todas las obligaciones y cargas impositivas que correspondan por la venta de sus artículos, sin que pudiera imputársele a #[b autominuto] algún tipo de responsabilidad por incumplimientos en tal sentido.
					li.tittle-list
						p Impuestos. Como se menciona anteriormente, #[b autominuto] sólo pone a disposición de los usuarios un espacio virtual que les permite comunicarse mediante Internet para encontrar una forma de vender o comprar artículos y/o servicios. #[b autominuto] no tiene participación alguna en el proceso de negociación y perfeccionamiento del contrato definitivo entre las partes. Por eso, #[b autominuto] no es responsable por el efectivo cumplimiento de las obligaciones fiscales o impositivas establecidas por la ley vigente.
						p En el caso que se deba llevar a cabo alguna tarea no contemplada en los términos y condiciones propios del trabajo, será responsabilidad del Usuario Comerciante, informárselo al Usuario Cliente, necesitando el consentimiento del mismo para su realización. Este trabajo deberá ser abonado por el cliente al Instalador, en efectivo al momento de su realización. #[b autominuto] no se hace responsable por los costos que el mismo pudiera ocasionar.
					li.tittle-list
						p  En caso de recibir un reclamo dentro de los 10 días de recibido el producto por cuenta del comprador y debido a la Ley de Defensa del Consumidor, el vendedor deberá aceptar el cambio o devolución del mismo y hacerse cargo de los gastos que esto conlleve, incluyendo los costos de envíos que fueren necesarios. #[b autominuto] podrá debitar estos costos, a través del sistema de MercadoPago, de la cuenta del vendedor.
			li.tittle-list #[h3 #[span.underlined  Prohibiciones  ]]
				ol
					li.tittle-list
						p  El #[b profesional] no podrá utilizar el Sistema para ningún tipo de actividad que pueda ser considerada ilegal o contraria a la moral o las buenas costumbres, fraudulenta o que de cualquier modo pudiera ocasionar daños a terceros. En particular el #[b profesional] no podrá utilizar el Sistema para ninguna de las siguientes actividades 
							ol
								li.tittle-list 
									p Infringir leyes de propiedad intelectual o industrial, patentes, marcas, copyright que correspondan a terceros; 
								li.tittle-list 
									p pornografía, pedofilia o prostitución. 
								li.tittle-list 	 
									p Incite a la violencia, a conductas agresivas, a prácticas peligrosas, discriminación, comportamientos antisociales, ilegales o mediante conductas que generen cualquier forma de difamación, insulto, acoso, amenaza o de violación de los derechos de terceros sobre su intimidad u honor; 
								li.tittle-list 	
									p lavado de dinero o de activos de origen delictivo o vinculados con el terrorismo; 
								li.tittle-list 	
									p explotación de menores de edad; 
								li.tittle-list 	
									p tráfico de armas, de personas o de animales, u otras actividades ilegales o fraudulentas. 	
					li.tittle-list 
						p El Usuario no podrá utilizar el Sistema para fines diferentes de las operaciones que involucren la administración de su Cuenta, siendo responsable por los daños y perjuicios que se deriven del uso indebido o prohibido del Sistema.
					li.tittle-list 
						p  La violación de cualquiera de las Cláusulas del Contrato o la utilización o sospecha de utilización del Sistema en actividades ilegales o prohibidas (incluyendo, pero no limitándose a, los supuestos previstos en esta Cláusula y en el resto de estos Términos y Condiciones), habilitará a #[b autominuto] a bloquear temporalmente el acceso y uso de su Cuenta, y/o cancelar la Cuenta, responsabilizando al Usuario de los daños y perjuicios ocasionados con su comportamiento, pudiendo además iniciar las acciones y demandas judiciales que estime corresponder. 
					li.tittle-list 
						p El #[b profesional] solo podrá realizar aquellos trabajos cuya prestación no se encuentre tácita o expresamente prohibida. Se consideran trabajos prohibidos a aquellos que no estén incluidos en el Presupuesto confeccionado a través de la plataforma, los trabajos que importen un riesgo para el #[b profesional] o para terceros, los trabajos que sean una violación a las leyes o reglamentos vigentes o al Acuerdo que el #[b profesional] tiene con #[b autominuto].
					li.tittle-list 
						p El #[b profesional] entiende y acepta que no podrá confeccionar presupuestos ni realizar trabajos por si o a través de terceros que no estén incluidos en las competencias de su matrícula u oficio. Tampoco el #[b profesional] podrá utilizar los datos de contacto de los USUARIOS para ofrecerles realizar trabajos que no estén incluidos en el presupuesto, trabajos adicionales o complementarios necesarios para realizar con eficiencia el objeto del presupuesto sin dejar constancia en la PLATAFORMA.
					li.tittle-list 
						p Los trabajos adicionales al PRESUPUESTO realizados por el #[b profesional] deben ser abonados por el USUARIO a través de la PLATAFORMA utilizando los medios de pago ofrecidos por #[b autominuto]. No está permitido realizar trabajos adicionales mediante el cobro directo al USUARIO. El #[b profesional] que reciba pagos directos de los USUARIOS por trabajos adicionales o complementarios, quedará a criterio de #[b autominuto] mantener o suspender su acceso a la plataforma en forma temporal y/o definitivamente y cancelar los trabajos y/o los pagos que hubieran quedado pendientes.
					li.tittle-list 
						p Dado que #[b autominuto] es una plataforma de comunicación entre el USUARIO y el #[b profesional] y no participa de las operaciones que se realizan entre las partes, entiende y acepta que los #[b profesionales] son los responsables por todas las obligaciones y cargas impositivas que correspondan por la prestación de sus servicios, sin que pudiera imputársele a #[b autominuto] algún tipo de responsabilidad por incumplimientos en tal sentido	
			li.tittle-list #[h3 #[span.underlined  Disposiciones varias ]]
				ol
					li.tittle-list 
						p El #[b profesional] reconoce que el uso del Sistema es efectuado bajo su exclusiva responsabilidad y riesgo, reconociendo que #[b autominuto] no garantiza ni asume responsabilidad por la inviolabilidad de los datos almacenados o transmitidos por redes públicas de contenido y otros medios. Por lo tanto, #[b autominuto] no garantiza el acceso y uso continuado o ininterrumpido de su Sistema. 
					li.tittle-list 
						p  El Sistema puede eventualmente no estar disponible debido a dificultades técnicas o fallas de Internet o por cualquier otra circunstancia ajena a #[b autominuto], incluyendo (pero sin limitarse a) fallas de funcionamiento o virus. 
					li.tittle-list 
						p  El #[b profesional] nunca podrá imputar responsabilidad alguna a #[b autominuto], ni exigir resarcimiento alguno, en virtud de perjuicios resultantes de las mencionadas dificultades, así como por cualquier otra clase de daños, incluyendo daños indirectos, especiales o consecuentes que surjan o experimenten los #[b profesionales] o los Usuarios. 
					li.tittle-list 
						p  El #[b profesional] toma a su cargo y exime a la #[b autominuto] de toda responsabilidad derivada de daños derivados de caso fortuito o fuerza mayor.  
			li.tittle-list #[h3 #[span.underlined   Finalización del contrato  ]]
				ol
					li.tittle-list 
						p Tanto el Usuario como #[b autominuto] podrán dar por finalizado el presente contrato en cualquier momento sin necesidad de expresión de causa y sin generar derecho indemnizatorio alguno a favor de la otra parte. 
					li.tittle-list 
						p  #[b autominuto] podrá, dar por terminado el Contrato sin ningún tipo de aviso previo, en caso de que el #[b profesional] incurra en violación de cualquier de las obligaciones que asume bajo el presente Contrato, reservándose el derecho de reclamar los daños y perjuicios que tal incumplimiento le haya causado. 
					li.tittle-list 
						p  La finalización del Contrato por cualquier causa implicará en todos los casos el cierre de la Cuenta del Usuario. 
			li.tittle-list #[h3 #[span.underlined   Cesión del contrato ]]
				ol
					li.tittle-list 
						p El Contrato, así como cualesquiera de los derechos y obligaciones emanados y derivados del mismo, no podrán ser cedidos, directa o indirectamente, por el #[b profesional]. 
					li.tittle-list 
						p #[b autominuto] se reserva el derecho de ceder el presente Contrato así como los derechos y obligaciones emanados y derivados del mismo, sin necesidad de conformidad o notificación alguna al #[b profesional].  
			li.tittle-list #[h3 #[span.underlined  Derechos sobre el sistema y su contenido  ]]
				p Todos los derechos sobre el Sistema y su contenido, incluidos los derechos industriales e intelectuales son de propiedad de #[b autominuto], estando prohibida su utilización bajo cualquier forma o reproducción no autorizada por #[b autominuto]. 
			li.tittle-list #[h3 #[span.underlined   Notificaciones  ]]
				ol
					li.tittle-list 
						p Serán consideradas válidas y vinculantes las notificaciones que las Partes se cursen a las direcciones de correo electrónico informadas por cada una de ellas. 
					li.tittle-list 
						p Las notificaciones cursadas en esta forma se considerarán recibidas a los cinco (5) días hábiles de haber sido remitidas. 
			li.tittle-list #[h3 #[span.underlined   Confidencialidad y seguridad de los datos.  ]]
				ol
					li.tittle-list 
						p #[b autominuto] tiene como finalidad proveer una plataforma segura y confiable para que el #[b profesional] pueda ofrecer sus SERVICIOS, obtener más oportunidades de trabajo y potenciar su negocio; por lo tanto #[b autominuto] le solicita al #[b profesional] que no comparta con terceros información de contacto de su cuenta de #[b profesional], no dé a conocer sus datos personales; no publique u ofrezca servicios prohibidos por este Acuerdo o que no tenga capacidad técnica y #[b profesional] para ofrecer; no utilice su reputación, sus calificaciones o comentarios recibidas en el Sitio en cualquier ámbito fuera de #[b autominuto].
					li.tittle-list 
						p Si el #[b profesional] lleva a cabo alguno de los actos antes mencionados, #[b autominuto] tendrá la obligación de suspender temporalmente el uso de la cuenta o cancelarla definitivamente, pudiendo además, iniciar las acciones legales a que pueda dar lugar por la configuración de delitos y/o contravenciones y/o los daños y perjuicios que ocasionare su actuar.
					li.tittle-list 
						p El #[b profesional] no podrá vender, ceder o transferir la Cuenta (incluyendo la reputación y calificaciones) bajo la forma de ningún contrato, ni a título gratuito u oneroso.
					li.tittle-list 
						p #[b autominuto] utiliza lo que se denomina como cookies. Un Cookie es un pequeño volumen de datos que un servidor web envía a su navegador (en adelante “COOKIES”). El Cookie se almacena en el disco rígido de su equipo y se instala durante el proceso de inscripción o de ingreso y se modifica al dejar de utilizar los servicios de la PLATAFORMA. Los COOKIES utilizados no pueden leer datos de su disco rígido ni leer los archivos COOKIE creados por otros proveedores. El #[b profesional] tiene la posibilidad de configurar su navegador para ser avisado en pantalla de la utilización de COOKIES e impedir la instalación en su disco rígido. #[b autominuto] utiliza COOKIES exclusivamente cuando se navegue por la PLATAFORMA. El COOKIES indica cómo, cuándo y por cuántas personas es visitada la PLATAFORMA, de manera anónima y sin recabar información personal que pudiera indicar quién es, su nombre o correo electrónico. #[b autominuto] almacena las direcciones IP para administrar la PLATAFORMA y eventualmente ser presentada ante requerimiento judicial y/u órgano gubernamental.
			li.tittle-list #[h3 #[span.underlined Datos personales. política de privacidad. uso de imagen]]
				ol
					li.tittle-list 
						p Los Datos Personales, de facturación y la documentación adicional que eventualmente se le solicite para validar el registro en el SITIO, serán utilizados por [b autominuto] para mantener una adecuada comunicación entre el #[b profesional], los USUARIOS y la PLATAFORMA.
					li.tittle-list 
						p  Los DATOS se procesan y almacenan en servidores o medios magnéticos que mantienen altos estándares de seguridad y protección tanto física como tecnológica.  #[b autominuto]cumple con lo exigido por la normativa de Protección de Datos Personales conforme lo dispuesto en la ley N° 25.326 y normas complementarias.
					li.tittle-list 
						p Al registrarse como #[b profesional] en #[b #[b autominuto]], suministrará información que, a criterio de #[b autominuto], resulta necesaria para brindarle un mejor ser
					li.tittle-list 
						p Los datos personales del #[b profesional] pueden ser compartidos con otras empresas de #[b autominuto] y con terceros. Esta divulgación puede ser necesaria para brindar los Servicios, cumplir con la ley, hacer cumplir nuestras políticas, facilitar las actividades de marketing y publicidad o evitar, detectar, mitigar e investigar actividades fraudulentas o ilegales en el uso de #[b autominuto]. El #[b profesional] consiente expresamente que #[b autominuto] utilice su imagen y/o datos con fines operativos del sistema de comercio electrónico e inclusive para hacerle llegar por distintos medios diversos anuncios de promociones, comunicaciones varias o publicidad. Al informar sus datos personales por medio de su registro en #[b autominuto], el #[b profesional] presta el consentimiento previsto por la ley argentina de Protección de Datos Personales nº 25.236, incluyendo la posibilidad de cesión prevista en su art. 11 que el #[b profesional] podrá revocar en cualquier momento simplemente solicitándolo vía correo electrónico.
					li.tittle-list 
						p #[b autominuto] tiene una estricta política de privacidad y protección de los datos generados por la actividad en línea de los #[b profesionales] y USUARIOS, y no entregará ningún tipo de datos personales ni de información individualizada sobre ninguno de ellos a ningún tercero, sea en forma gratuita u onerosa, incluyendo cualquier dato relacionado con la identidad, hábitos, costumbres, ámbitos de pertenencia, hábitos de consumo, etc. El #[b profesional] se notifica y autoriza a #[b autominuto] para analizar la información relacionada con sus SERVICIOS, y basándose en dicho análisis ofrecer, individualmente o en conjunto con terceros, otros servicios a los USUARIOS. #[b autominuto] está autorizado a compartir con terceros la información despersonalizada relacionada con los USUARIOS. En cumplimiento del artículo 6° de la ley Nº 25.326 (Ley de Protección de Datos Personales) el titular de los datos toma conocimiento que los datos facilitados a #[b autominuto] son necesarios para establecer la relación contractual, y serán tratados únicamente para las operaciones relativas al cumplimiento de las reglas, encuestas, suscripciones, ofertas de servicios, y cualquier otra acción comercial, en total cumplimiento a las normativas aplicables.
					li.tittle-list 
						p El titular de los datos toma conocimiento de la existencia de una base de datos donde se almacena su información personal, siendo dicha información totalmente confidencial, entre el #[b profesional] e #[b autominuto]. Toda la información que el #[b profesional] proporciona se considerará verdadera, exacta y completa. El titular de los datos es único y exclusivo responsable de la información que brinda. En tal sentido, será único y exclusivo responsable respecto de las consecuencias que genere cualquier inexactitud o falsedad de la información brindada.
					li.tittle-list 
						p El titular de los datos personales tiene la facultad de ejercer el derecho de acceso a los mismos en forma gratuita a intervalos no inferiores a seis meses, salvo que se acredite un interés legítimo al efecto conforme lo establecido en el artículo 14, inciso 3 de la Ley Nº 25.326" y que "La Agencia de Acceso a la Información Pública, Órgano de Control de la Ley Nº 25.326, tiene la atribución de atender las denuncias y reclamos que se interpongan con relación al incumplimiento de las normas sobre protección de datos personales. Las bases de datos personales de la Empresa están registradas en el Registro Nacional de Protección de Datos Personales, dependiente de la Dirección Nacional de Datos personales de conformidad con la ley 25.326. Para contactar a la Dirección Nacional de Protección de Datos Personales: Av. Pte. Gral. Julio A. Roca n° 710. Piso 2º - CABA, tel. 5300-4000 int. 76706, #[a(href="http://www.jus.gov.ar/datospersonales ") www.jus.gov.ar/datospersonales ]- infodnpdp@jus.gov.ar. Para más información consulte la política de privacidad.
					li.tittle-list 
						p Los #[b profesionales] autorizan irrevocablemente a #[b autominuto], sus afiliadas y subsidiarias, en los términos requeridos por el art. 5, 6 y sgtes. de la Ley Nº 25.326 a difundir y/o utilizar su nombre y apellido, imágenes de su persona, fotografías de los SERVICIOS realizados, testimonios orales y escritos, etc, con fines publicitarios, por cualquier medio de difusión y forma que #[b autominuto] disponga, sin derecho a compensación alguna, durante todo el tiempo en que su CUENTA permanezca registrada y activa en la PLATAFORMA y hasta los 12 (doce) meses siguientes de que el #[b profesional] diera de baja su CUENTA registrada.
			li.tittle-list #[h3 #[span.underlined Violaciones del sistema o bases de datos. vinculos a sitios de terceros]]
				ol
					li.tittle-list 
						p  #[b autominuto] no se responsabiliza por ningún daño, perjuicio o pérdida al #[b profesional] causados por fallas en la PLATAFORMA, la APLICACIÓN, en el servidor y/o en Internet.	
					li.tittle-list 
						p  El #[b profesional] entiende que no está permitida ninguna acción y/o uso de dispositivo, software, u otro medio tendiente a interferir tanto en las actividades y operaciones de la plataforma como en las solicitudes, ofertas, descripciones, cuentas o bases de datos de #[b autominuto]. Cualquier intromisión, tentativa o actividad violatoria o contraria a las leyes sobre derecho de propiedad intelectual y/o a las prohibiciones estipuladas en este contrato harán pasible a su responsable de las acciones legales pertinentes, y a las sanciones previstas por este acuerdo, así como lo hará responsable de indemnizar los daños ocasionados.	
					li.tittle-list 
						p #[b autominuto] tampoco será responsable por cualquier virus que pudiera infectar su equipo como consecuencia del acceso, uso o examen de su sitio web, APLICACIÓN móvil o a raíz de cualquier transferencia de datos, archivos, imágenes, textos, o audio contenidos en el mismo. El #[b profesional] no tendrá derecho de imputarle responsabilidad alguna ni exigir pago por lucro cesante, en virtud de perjuicios resultantes de dificultades técnicas o fallas en los sistemas o en Internet. #[b autominuto] no le garantiza el acceso y el uso continuado o ininterrumpido de su sitio o aplicación móvil. El sistema puede eventualmente no estar disponible debido a dificultades técnicas o fallas de Internet, o por cualquier otra circunstancia ajena a #[b autominuto]; en tales casos se procurará restablecerlo con la mayor celeridad posible sin que por ello pueda imputársele algún tipo de responsabilidad. #[b autominuto] no será responsable por ningún error u omisión contenidos en su sitio web o aplicación móvil.
					li.tittle-list 
						p La aplicación y/o el sitio pueden contener enlaces a otros sitios web lo cual no indica que sean propiedad u operados por #[b autominuto]. En virtud que #[b autominuto] no tiene control sobre tales enlaces, no será responsable por los contenidos, materiales, acciones y/o servicios prestados u ofrecidos en los mismos, ni por daños o pérdidas ocasionadas por la utilización de los mismos, sean causadas directa o indirectamente. La presencia de enlaces a otros sitios web no implica una sociedad, relación, aprobación, respaldo de #[b autominuto] a dichos sitios y sus contenidos.
			li.tittle-list #[h3 #[span.underlined Jurisdicción y ley aplicable]]
				p  Este Contrato estará regido en todos sus puntos por las leyes vigentes en la República Argentina. Cualquier controversia derivada del presente acuerdo, su existencia, validez, interpretación, alcance o cumplimiento, será sometida a los tribunales ordinarios de la Ciudad de Buenos Aires.
		h2 TÉRMINOS Y CONDICIONES RESPECTO A PAGO
		h3 Condiciones de pago para facturas emitidas por los #[b profesionales] a Nearu S.A.
		p Una vez que hayas terminado el trabajo deberás enviarnos una foto o scan de tu factura a #[a(href="mailto:facturas@autominuto.com") facturas@autominuto.com].
		p La misma deberá ser dirigida a:
		p Razón Social: Nearu S.A.
		p CUIT 30-71530229-9
		p Domicilio: Av. Corrientes 1145 3º Piso, of. 41/43, Buenos Aires, Argentina (1043)
		p Condición frente al IVA: IVA Resp. Insc.
		p y deberá contener en el detalle el número de todos los trabajos facturados así como también la forma de pago elegida.
		h4 Deposito en tu cuenta bancaria*
		p Deberás indicarnos Nombre completo del Titular, CBU, DNI o CUIT, Banco, tipo y # de cuenta
		p #[i *La factura original deberá ser entregada por correo en un plazo no mayor a 15 días corridos luego del cobro de la misma.]
		h3 Condiciones de pago para facturas emitidas por los #[b profesionales] a clientes finales
		p Para el cobro de tu trabajo o autoparte, una vez que el mismo haya sido finalizado, deberás enviarnos una foto o scan de la factura emitida al cliente por el monto abonado a #[a(href="mailto:facturas@autominuto.com") facturas@autominuto.com] indicando:
		p 1) el número de trabajo;
		p 2) el número de orden de pago;
		p 3) forma de pago elegida:
		h4 Deposito en tu cuenta bancaria
		p Deberás indicarnos Nombre completo del Titular, CBU, DNI o CUIT, Banco, tipo y # de cuenta
















		